<html>
<body>
<p>This content is just an email test template.</p>
<ul>
<li><strong>From User:</strong> {{from}}</li>
<li><strong>Recipient User:</strong> {{recipient}}</li>
<li><strong>Acknowledge URL:</strong> {{acknowledge}}</li>
</ul>
</p>
<p>If you didn't make an request, please ignore this e-mail.</p>

<p>RODA - Repository of Authentic Digital Objects</p>

</body>
<html>
