@CHARSET "UTF-8";

.search {
	
}

.search .searchLabel {
	margin-bottom: 5px;
}

.search .searchInput {
	display: flex;
}

.searchPanel {
	margin-right: 55px;
}

.searchPanelLeft {
	float: left;
    width: 100%;
}

.search .searchBox {
	box-sizing: border-box;
	width: 100%;
	height: 4rem;
	line-height: 4rem;
	font-size: 2rem;
	border: 3px solid #ccc;
	border-radius: 2px;
	padding: 0 1rem;
}

.searchButton {
	cursor: pointer;
	cursor: hand;
	position: relative;
    top: -6px;
    float: right;
    width: 55px;
    margin-right: -55px;
}

.searchButton-html {
	font-size: 20px;
}

.searchButton .fa-stack-2x {
	color: #089de3;
}

.searchButton .fa-stack-1x {
	color: white;
}

.search .searchResults {
	margin-top: 20px;
	clear: both;
}

.search  .searchApplyFilters {
	margin: 10px 0;
	width: 100%;
}

.search  .searchAdvancedSearch {
	margin: 10px 0;
	width: 100%;
}

.searchAdvancedDisclosure {
	width: 100%;
	margin-top: 10px;
}

.searchAdvancedDisclosure a {
	text-decoration: underline;
}

.searchAdvancedPanel {
	padding: 20px !important;
	min-height: auto;
	background-color: #e6e7e8;
}

.searchAdvancedField {
	margin-bottom: 15px;
}

.searchAdvancedFieldInputDateLabel {
	display: inline-block;
}

.searchAdvancedFieldInputDateInput {
	width: 8em;
	text-align: center;
	margin: 0 5px;
}
