@CHARSET "UTF-8";

.main {
	background-color: white;
}

.footer {
	background-color: #414042;
	padding: 30px;
	display: flex;
	justify-content: space-between;
}

.footer-column {
	color: white;
	text-align: left;
}

.footer-column-left {
	width: 30%;
}

.footer-column-center {
	width: 30%;
}

.footer-column-right {
	width: 30%;
}

/* @group Banner */
/*
.main .banner {
	background-image: url("images/banner_roda.png");
	background-repeat: no-repeat;
	width: 955px;
	height: 110px;
	margin-top: 10px;
}
.main .banner .homeLink {
	width: 300px;
	height: 110px;
	cursor: pointer;
	cursor: hand;
}*/

/* @end */

/* @group Language Switcher Panel */
.wui-languageSwitcher {
	
}

.wui-languageSwitcher .languageSwitcher-flag {
	margin: 0px 1px;
	cursor: pointer;
	cursor: hand;
}

/* @end */

/* @group Login Panel */
.wui-login {
	position: relative;
	width: 250px;
	padding-top: 5px;
}

.wui-login .wui-login-message {
	width: 250px;
	position: absolute;
	top: 5px;
	left: 40px;
	color: #ffffff;
}

.wui-login .wui-login-layout-guest {
	
}

.wui-login .wui-login-box-user {
	width: 180px;
	_width: 184px;
	position: absolute;
	top: 33px;
	left: 40px;
	padding: 2px;
	border: 1px solid black;
	font-size: 9pt;
	color: #58595b;
	text-align: left;
}

.wui-login .wui-login-box-pass {
	width: 180px;
	_width: 184px;
	position: absolute;
	top: 62px;
	left: 40px;
	padding: 2px;
	border: 1px solid black;
	font-size: 9pt;
	color: #58595b;
}

.wui-login .wui-login-box-user-dummy {
	color: #58595b;
}

.wui-password-label {
	position: absolute;
	left: 43px;
	top: 65px;
	width: 150px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 9pt;
	overflow: hidden;
	color: #58595b;
}

.wui-password-button {
	position: absolute;
	left: 207px;
	top: 66px;
	cursor: pointer;
	cursor: hand;
}

.wui-login .wui-login-box-pass-dummy {
	width: 150px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 9pt;
	color: #999;
	margin-bottom: 5px;
}

.wui-login .wui-login-layout-logged {
	
}

.wui-login .wui-logout-button {
	width: 200px;
	position: absolute;
	top: 65px;
	left: 40px;
	color: #ffffff;
	padding-bottom: 3px;
	border-bottom: 1px dashed #ffffff;
	cursor: pointer;
	cursor: hand;
}

.wui-login .wui-logout-button-hover {
	text-decoration: underline;
}

.wui-login .wui-loginLinks {
	position: absolute;
	top: 88px;
	left: 40px;
}

.wui-login .wui-loginLinks .loginLink a {
	font-family: 'Ubuntu', sans-serif;
	font-size: 9pt;
	color: #ffffff;
	text-decoration: none;
	white-space: nowrap;
}

.wui-login .wui-loginLinks .loginLink:hover a {
	text-decoration: underline;
}

.wui-login .wui-loginLinks .separator {
	font-family: 'Ubuntu', sans-serif;
	font-size: 9pt;
	color: #ffffff;
}

/* @end */

/* @group Login Dialog */
.wui-login-dialog {
	padding: 10px 5px;
	background-color: #e6e7e8;
}

.wui-login-dialog-cell {
	background-color: #e6e7e8;
}

.wui-login-dialog .username-label {
	margin: 5px;
	white-space: nowrap;
}

.wui-login-dialog .username-box {
	
}

.wui-login-dialog .password-label {
	margin: 5px;
	white-space: nowrap;
}

.wui-login-dialog .password-box {
	
}

.wui-login-dialog .login {
	
}

.wui-login-dialog .cancel {
	
}
/* @end */

/* @group Menus */
.gwt-MenuBar {
	background-color: #5bbeff;
}

.gwt-MenuBar table {
	border-spacing: 0;
}

.gwt-MenuBar.gwt-MenuBar-vertical {
	background-color: #3998da;
}

.gwt-MenuBar.gwt-MenuBar-vertical .gwt-MenuItem {
	min-width: 130px;
	background-color: #3998da;
}

.gwt-MenuBar .gwt-MenuItem {
	cursor: pointer;
	cursor: hand;
	font-family: 'Ubuntu', sans-serif;
	font-size: 8pt;
	font-weight: bold;
	font-variant: normal;
	color: #fff;
	padding: 5px 10px;
	text-align: left;
}

.gwt-MenuBar .gwt-MenuItem-selected {
	background-color: #3998da;
}

.gwt-MenuBar.gwt-MenuBar-vertical .gwt-MenuItem-selected {
	background-color: #5bbeff;
}

.main .menus {
	border-spacing: 0;
	width: 100%
}

.main .menu_item {
	font-family: 'Ubuntu', sans-serif;
	font-size: 8pt;
	font-variant: small-caps;
	color: #000000;
	margin-top: 2px;
	cursor: pointer;
	cursor: hand;
}

.main .menu_item:hover {
	color: #d9d9d9;
}

.main .menu-item-on {
	color: #FFFFFF;
}

.main .menu-item-on:hover {
	color: #FFFFFF;
}

.main .menu_separator {
	font-family: 'Ubuntu', sans-serif;
	font-size: 9pt;
	font-variant: small-caps;
	color: #666;
	margin-left: 2px;
	margin-right: 2px;
}

.main .menus .about.menu-closed {
	background-color: #bcbec0;
}

.main .menus .about.menu-open {
	background-color: #88AFBE;
}

.main .menus .dissemination.menu-closed {
	background-color: #bcbec0;
}

.main .menus .dissemination.menu-open {
	background-color: #79C2FF;
}

.main .menus .administration.menu-closed {
	background-color: #bcbec0;
}

.main .menus .administration.menu-open {
	background-color: #D7BC00;
}

.main .menus .ingest.menu-closed {
	background-color: #9EAB73;
}

.main .menus .ingest.menu-open {
	background-color: #7e8a57;
}

/* @end */

/* @group Breadcrumb */
.main .wui-breadcrumbPanel {
	
}

.main .wui-breadcrumbPanel .breadcrumb {
	font-style: italic;
	color: #a7a9ac;
	text-decoration: underline;
	cursor: pointer;
	cursor: hand;
}

.main .wui-breadcrumbPanel .breadcrumb .description-level {
	margin-right: 0.2em;
    color: #a7a9ac;
}



.main .wui-breadcrumbPanel .breadcrumb-last {
	color: #404142;
	text-decoration: none;
}

.main .wui-breadcrumbPanel .breadcrumb-last .description-level {
	color: #404142;
}

.main .wui-breadcrumbPanel .breadcrumb-separator {
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	color: #a7a9ac;
	cursor: text;
}

/* @end */

/* @group Content Panel */
.main .contentPanel {
	text-align: center;
	min-height: 600px;
}

.main .contentTitle {
	padding: 10px 35px 15px 40px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 15pt;
	font-weight: bold;
	color: #404142;
	font-variant: small-caps;
	text-align: left;
}

/* @end */
.wui-home {
	color: #58595b;
}

/* @group Image Link */
.image-link {
	cursor: hand;
	cursor: pointer;
}

.image-link-panel {
	width: 200px;
}

.image-link-image {
	
}

.image-link-label {
	margin-top: 3px;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	margin-left: 10px;
}

/* @end */

/* @group CAS Login Panel */
.wui-login .wui-loginLinks {
	position: relative;
	top: 0;
	left: 0;
	margin-top: 20px;
}

.wui-login .wui-login-login, .wui-login .wui-login-user {
	margin-top: 12px;
}

.wui-login .loginLink {
	color: white;
}

.wui-login .loginLink:hover {
	text-decoration: underline;
	cursor: hand;
	cursor: pointer;
}

/* @end */