<?xml version="1.0" ?>
<web-app id="WebApp_ID" version="2.4">
  <display-name>Fedora Repository Server</display-name>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class> org.apache.axis.transport.http.AxisServlet </servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet>
    <display-name>Fedora Access Servlet</display-name>
    <servlet-name>AccessServlet</servlet-name>
    <servlet-class>fedora.server.access.FedoraAccessServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name> Fedora Controller Servlet (start, stop, get server status) </display-name>
    <servlet-name>ControlServlet</servlet-name>
    <servlet-class>fedora.server.ServerController</servlet-class>
    <init-param>
      <param-name>fedora.home</param-name>
      <param-value>RODA_HOME/fedora/fedora-2.2.4</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <display-name>Fedora Datastream Resolver Servlet</display-name>
    <servlet-name>DatastreamResolverServlet</servlet-name>
    <servlet-class> fedora.server.access.dissemination.DatastreamResolverServlet </servlet-class>
  </servlet>
  <servlet>
    <display-name>Fedora Repository Description Servlet</display-name>
    <servlet-name>DescribeRepositoryServlet</servlet-name>
    <servlet-class> fedora.server.access.DescribeRepositoryServlet </servlet-class>
  </servlet>
  <servlet>
    <display-name>Fedora Search Servlet</display-name>
    <servlet-name>FieldSearchServlet</servlet-name>
    <servlet-class> fedora.server.access.FieldSearchServlet </servlet-class>
  </servlet>
  <servlet>
    <display-name>Fedora PID Generator Servlet</display-name>
    <servlet-name>GetNextPIDServlet</servlet-name>
    <servlet-class>fedora.server.management.GetNextPIDServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>Fedora Backend Security Configuration Servlet</display-name>
    <servlet-name>BESecurityServlet</servlet-name>
    <servlet-class>fedora.server.management.BESecurityServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>Fedora Object History Servlet</display-name>
    <servlet-name>GetObjectHistoryServlet</servlet-name>
    <servlet-class>fedora.server.access.GetObjectHistoryServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>Fedora List Datastreams Servlet</display-name>
    <servlet-name>ListDatastreamsServlet</servlet-name>
    <servlet-class>fedora.server.access.ListDatastreamsServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>Fedora List Methods Servlet</display-name>
    <servlet-name>ListMethodsServlet</servlet-name>
    <servlet-class>fedora.server.access.ListMethodsServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>Fedora Method Parm Resolver Servlet</display-name>
    <servlet-name>MethodParameterResolverServlet</servlet-name>
    <servlet-class>fedora.server.access.MethodParameterResolverServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>Fedora OAI Provider Servlet</display-name>
    <servlet-name>OAIProviderServlet</servlet-name>
    <servlet-class>fedora.server.oai.FedoraOAIProviderServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>Fedora Report Servlet</display-name>
    <servlet-name>ReportServlet</servlet-name>
    <servlet-class>fedora.server.access.ReportServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>Fedora Resource Index Search Servlet</display-name>
    <servlet-name>RISearchServlet</servlet-name>
    <servlet-class>fedora.server.access.RISearchServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name> Fedora Upload Servlet (accepts HTTP POST to upload a file and sends back an
      identifier) </display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>fedora.server.management.UploadServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>WSDL Servlet</display-name>
    <servlet-name>WSDLServlet</servlet-name>
    <servlet-class>fedora.server.access.WSDLServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FacesServlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccessServlet</servlet-name>
    <url-pattern>/get/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BESecurityServlet</servlet-name>
    <url-pattern>/management/backendSecurity</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ControlServlet</servlet-name>
    <url-pattern>/management/control</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DatastreamResolverServlet</servlet-name>
    <url-pattern>/getDS</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DatastreamResolverServlet</servlet-name>
    <url-pattern>/getDSAuthenticated</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DescribeRepositoryServlet</servlet-name>
    <url-pattern>/describe</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FieldSearchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetObjectHistoryServlet</servlet-name>
    <url-pattern>/getObjectHistory/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetNextPIDServlet</servlet-name>
    <url-pattern>/management/getNextPID</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListDatastreamsServlet</servlet-name>
    <url-pattern>/listDatastreams/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListMethodsServlet</servlet-name>
    <url-pattern>/listMethods/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MethodParameterResolverServlet</servlet-name>
    <url-pattern>/getAccessParmResolver</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OAIProviderServlet</servlet-name>
    <url-pattern>/oai</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportServlet</servlet-name>
    <url-pattern>/report</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RISearchServlet</servlet-name>
    <url-pattern>/risearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/management/upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WSDLServlet</servlet-name>
    <url-pattern>/wsdl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FacesServlet</servlet-name>
    <url-pattern>*.faces</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>SetupFilter</filter-name>
    <filter-class>fedora.server.security.servletfilters.FilterSetup</filter-class>
  </filter>
  <filter>
    <filter-name>XmlUserfileFilter</filter-name>
    <filter-class>fedora.server.security.servletfilters.xmluserfile.FilterXmlUserfile</filter-class>
  </filter>

  <!-- filter - LDAP for user attributes -->
  <filter>
    <filter-name>LdapFilterForAttributes</filter-name>
    <filter-class>fedora.server.security.servletfilters.ldap.FilterLdap</filter-class>
    <init-param>
      <param-name>version</param-name>
      <param-value>3</param-value>
    </init-param>
    <init-param>
      <param-name>authenticate</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>security-authentication</param-name>
      <param-value>simple</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>ldap://LDAPHOST:LDAPPORT/</param-value>
    </init-param>
    <init-param>
      <param-name>search-base</param-name>
      <param-value>LDAP_USERS_DN</param-value>
    </init-param>
    <init-param>
      <param-name>bind-filter</param-name>
      <param-value>uid={0},LDAP_USERS_DN</param-value>
    </init-param>
    <init-param>
      <param-name>search-filter</param-name>
      <param-value>(uid={0})</param-value>
    </init-param>
    <init-param>
      <param-name>id-attribute</param-name>
      <param-value>uid</param-value>
    </init-param>
    <init-param>
      <param-name>attributes</param-name>
      <param-value>uid,cn,givenName,sn,postalAddress,postalCode,localityName,countryName,telephoneNumber,fax,email,organizationName,title</param-value>
    </init-param>
  </filter>

  <!-- filter- LDAP for user group memberships -->
  <filter>
    <filter-name>LdapFilterForGroups</filter-name>
    <filter-class>fedora.server.security.servletfilters.ldap.FilterLdap</filter-class>
    <init-param>
      <param-name>associated-filters</param-name>
      <param-value>LdapFilterForAttributes,LdapFilterForGroups</param-value>
    </init-param>
    <init-param>
      <param-name>version</param-name>
      <param-value>3</param-value>
    </init-param>
    <init-param>
      <param-name>authenticate</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>security-authentication</param-name>
      <param-value>simple</param-value>
    </init-param>
    <init-param>
      <param-name>id-attribute</param-name>
      <param-value>uid</param-value>
    </init-param>
    <init-param>
      <param-name>bind-filter</param-name>
      <param-value>uid={0},LDAP_USERS_DN</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>ldap://LDAPHOST:LDAPPORT/</param-value>
    </init-param>
    <init-param>
      <param-name>search-base</param-name>
      <param-value>LDAP_GROUPS_DN</param-value>
    </init-param>
    <init-param>
      <param-name>search-filter</param-name>
      <param-value>(uniqueMember=uid={0},LDAP_USERS_DN)</param-value>
    </init-param>
    <init-param>
      <param-name>attributes</param-name>
      <param-value>cn,ou</param-value>
    </init-param>
    <init-param>
      <param-name>attributes-common-name</param-name>
      <param-value>groups</param-value>
    </init-param>
  </filter>

  <!-- filter - RODA roles to fedoraRole's -->
  <filter>
    <filter-name>RODAFedoraFilter</filter-name>
    <filter-class>pt.gov.dgarq.roda.servlet.RODAFedoraFilter</filter-class>
    <init-param>
      <description>RODA home directory</description>
      <param-name>roda.home</param-name>
      <param-value>RODA_HOME</param-value>
    </init-param>
    <init-param>
      <description>LDAP server hostname (default: localhost)</description>
      <param-name>host</param-name>
      <param-value>LDAPHOST</param-value>
    </init-param>
    <init-param>
      <description>LDAP server port (default: 389)</description>
      <param-name>port</param-name>
      <param-value>LDAPPORT</param-value>
    </init-param>
    <init-param>
      <description>LDAP people DN</description>
      <param-name>peopleDN</param-name>
      <param-value>LDAP_USERS_DN</param-value>
    </init-param>
    <init-param>
      <description>LDAP groups DN</description>
      <param-name>groupsDN</param-name>
      <param-value>LDAP_GROUPS_DN</param-value>
    </init-param>
    <init-param>
      <description>LDAP roles DN</description>
      <param-name>rolesDN</param-name>
      <param-value>LDAP_ROLES_DN</param-value>
    </init-param>
    <init-param>
      <description>LDAP protected users</description>
      <param-name>protectedUsers</param-name>
      <param-value>admin,guest,roda-ingest-task,roda-wui,roda-disseminator</param-value>
    </init-param>
    <init-param>
      <description>LDAP protected groups</description>
      <param-name>protectedGroups</param-name>
      <param-value>administrators,guests</param-value>
    </init-param>
  </filter>

  <filter>
    <filter-name>EnforceAuthnFilter</filter-name>
    <filter-class>fedora.server.security.servletfilters.FilterEnforceAuthn</filter-class>
  </filter>

  <filter>
    <filter-name>FinalizeFilter</filter-name>
    <filter-class>fedora.server.security.servletfilters.FilterFinalize</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>SetupFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- 
  <filter-mapping>
    <filter-name>XmlUserfileFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
	-->
  <!-- filter-mapping - RODA roles to fedoraRole's -->
  <filter-mapping>
    <filter-name>RODAFedoraFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>EnforceAuthnFilter</filter-name>
    <servlet-name>AccessServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>EnforceAuthnFilter</filter-name>
    <servlet-name>AxisServlet</servlet-name>
  </filter-mapping>

  <filter-mapping>
    <filter-name>EnforceAuthnFilter</filter-name>
    <servlet-name>BESecurityServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>EnforceAuthnFilter</filter-name>
    <servlet-name>ControlServlet</servlet-name>
  </filter-mapping>

  <filter-mapping>
    <filter-name>EnforceAuthnFilter</filter-name>
    <servlet-name>DescribeRepositoryServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>EnforceAuthnFilter</filter-name>
    <servlet-name>FieldSearchServlet</servlet-name>
  </filter-mapping>

  <filter-mapping>
    <filter-name>EnforceAuthnFilter</filter-name>
    <servlet-name>GetNextPIDServlet</servlet-name>
  </filter-mapping>

  <filter-mapping>
    <filter-name>EnforceAuthnFilter</filter-name>
    <servlet-name>GetObjectHistoryServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>EnforceAuthnFilter</filter-name>
    <servlet-name>ListDatastreamsServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>EnforceAuthnFilter</filter-name>
    <servlet-name>ListMethodsServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>EnforceAuthnFilter</filter-name>
    <servlet-name>MethodParameterResolverServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>EnforceAuthnFilter</filter-name>
    <servlet-name>OAIProviderServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>EnforceAuthnFilter</filter-name>
    <servlet-name>ReportServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>EnforceAuthnFilter</filter-name>
    <servlet-name>RISearchServlet</servlet-name>
  </filter-mapping>

  <filter-mapping>
    <filter-name>EnforceAuthnFilter</filter-name>
    <servlet-name>UploadServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>EnforceAuthnFilter</filter-name>
    <url-pattern>/getDSAuthenticated</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>EnforceAuthnFilter</filter-name>
    <url-pattern>/index.html</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>EnforceAuthnFilter</filter-name>
    <url-pattern>/services/access</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>EnforceAuthnFilter</filter-name>
    <url-pattern>/services/management</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>FinalizeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Fedora Repository Server</web-resource-name>
      <description>Fedora-generated security-constraint</description>
      <url-pattern>/getDS</url-pattern>
      <url-pattern>/management/control</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Fedora Repository Server</web-resource-name>
      <description>Fedora-generated security-constraint</description>
      <description>APIM</description>
      <url-pattern>/index.html</url-pattern>
      <url-pattern>/getDSAuthenticated</url-pattern>
      <url-pattern>/management/backendSecurity</url-pattern>
      <url-pattern>/management/getNextPID</url-pattern>
      <url-pattern>/management/upload</url-pattern>
      <url-pattern>/services/management</url-pattern>
      <url-pattern>*.jws</url-pattern>
    </web-resource-collection>
<!--
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
-->
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Fedora Repository Server</web-resource-name>
      <description>Fedora-generated security-constraint</description>
      <description>APIA</description>
      <url-pattern>/</url-pattern>
      <url-pattern>/describe</url-pattern>
      <url-pattern>/get/*</url-pattern>
      <url-pattern>/getAccessParmResolver</url-pattern>
      <url-pattern>/getObjectHistory/*</url-pattern>
      <url-pattern>/listDatastreams/*</url-pattern>
      <url-pattern>/listMethods/*</url-pattern>
      <url-pattern>/oai</url-pattern>
      <url-pattern>/report</url-pattern>
      <url-pattern>/risearch</url-pattern>
      <url-pattern>/search</url-pattern>
      <url-pattern>/services/access</url-pattern>
      <url-pattern>/wsdl</url-pattern>
      <url-pattern>*.jsp</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>100</error-code>
    <location>/jsp/continue-100.jsp</location>
  </error-page>
  <error-page>
    <exception-type> fedora.server.errors.servletExceptionExtensions.Continue100Exception </exception-type>
    <location>/jsp/continue-100.jsp</location>
  </error-page>
  <error-page>
    <exception-type> fedora.server.errors.servletExceptionExtensions.Ok200Exception </exception-type>
    <location>/jsp/ok-200.jsp</location>
  </error-page>
  <error-page>
    <exception-type> fedora.server.errors.servletExceptionExtensions.BadRequest400Exception </exception-type>
    <location>/jsp/bad-request-400.jsp</location>
  </error-page>
  <error-page>
    <error-code>401</error-code>
    <location>/jsp/unauthorized-401.jsp</location>
  </error-page>
  <error-page>
    <exception-type> fedora.server.errors.servletExceptionExtensions.Unauthorized401Exception </exception-type>
    <location>/jsp/unauthorized-401.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/jsp/forbidden-403.jsp</location>
  </error-page>
  <error-page>
    <exception-type> fedora.server.errors.servletExceptionExtensions.Forbidden403Exception </exception-type>
    <location>/jsp/forbidden-403.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/jsp/notfound-404.jsp</location>
  </error-page>
  <error-page>
    <exception-type> fedora.server.errors.servletExceptionExtensions.NotFound404Exception </exception-type>
    <location>/jsp/notfound-404.jsp</location>
  </error-page>
  <error-page>
    <exception-type> fedora.server.errors.servletExceptionExtensions.InternalError500Exception </exception-type>
    <location>/jsp/internal-error-500.jsp</location>
  </error-page>
  <error-page>
    <exception-type>javax.servlet.ServletException</exception-type>
    <location>/jsp/internal-error-500.jsp</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/jsp/unavailable-503.jsp</location>
  </error-page>
  <error-page>
    <exception-type> fedora.server.errors.servletExceptionExtensions.Unavailable503Exception </exception-type>
    <location>/jsp/unavailable-503.jsp</location>
  </error-page>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>Fedora Repository Server</realm-name>
  </login-config>
  <security-role>
    <role-name>administrator</role-name>
  </security-role>
</web-app>
