target/
.settings
.classpath
.project
roda-installer/*.zip
roda-installer/roda-installer_v*
*~
**/.DS_Store
roda-core/roda-core/velocity.log.1
.idea/
*.iml
independent_plugin_script.sh
compile_plugin.sh
jar_plugins/
roda-cas/overlays/
**/.factorypath
.vscode/
**/**/*.log.txt
