@CHARSET "UTF-8";

.wui-editor-text-line.unvalid {
	background-color: #d97570;
}

.wui-editor-text-area.unvalid {
	background-color: #d97570;
}

.wui-editor-text-bigarea {
	min-height: 150px;
}

.wui-editor-text-bigarea.unvalid {
	background-color: #d97570;
}

.wui-editor-physdesc .physdesc-value {
	
}

.wui-editor-physdesc .physdesc-unit {
	width: auto;
	margin-left: 5px;
}

.wui-editor-physdesc.unvalid .physdesc-value {
	background-color: #d97570;
}

.wui-editor-physdesc.unvalid .physdesc-unit {
	background-color: #d97570;
}

.wui-editor-chronlist {
	width: 100%;
}

.wui-editor-chronlist .chronlist-add {
	width: 120px;
	margin: 5px 10px;
}

.wui-editor-chronlist .chronlist-itemlist {
	width: 100%;
}

.wui-editor-chronitem {
	width: 100%;
	background-color: #dedfe0;
	margin-bottom: 2px;
}

.wui-editor-chronitem:hover {
	background-color: white;
}

.wui-editor-chronitem-center {
	width: 100%;
	padding: 5px;
}

.wui-editor-chronitem .chronitem-date-layout {
	margin-bottom: 2px;
	vertical-align: bottom;
}

.wui-editor-chronitem .chronitem-date-initial {
	
}

.wui-editor-chronitem .chronitem-date-final {
	
}

.wui-editor-chronitem .chronlist-content {
	width: 100%;
}

.wui-editor-chronitem .chronitem-remove {
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
	cursor: hand;
}

.wui-editor-chronlist.unvalid {
	border: 1px solid #d97570;
}

.wui-editor-languages {
	width: 100%;
}

.wui-editor-languages .languageBox {
	cursor: pointer;
	cursor: hand;
}

.wui-editor-languages .languageBox-checkbox {
	
}

.wui-editor-languages .languagebox-label {
	
}

.wui-editor-languages.unvalid {
	border: 1px solid #d97570;
}

.wui-editor-table {
	width: 100%;
}

.wui-editor-table .table-toolbar {
	margin: 4px 2px 4px 4px;
}

.wui-editor-table .table-add-row {
	margin-right: 2px
}

.wui-editor-table .table-add-column {
	margin-left: 2px;
}

.wui-editor-table .table-layout {
	width: 100%;
}

.wui-editor-table .table-header-row {
	border: 1px solid #58595b;
}

.wui-editor-table .table-body-row {
	
}

.wui-editor-table .table-header-editor {
	width: 100%;
	font-weight: bold;
	text-align: center;
}

.wui-editor-table .table-body-editor {
	width: 100%;
}

.wui-editor-table .table-row-remove {
	margin: 2px;
	cursor: pointer;
	cursor: hand;
}

.wui-editor-table .table-column-remove {
	cursor: pointer;
	cursor: hand;
}

.wui-editor-table.unvalid {
	background-color: #d97570;
}

.wui-editor-level {
	width: auto;
}

.wui-editor-level.unvalid {
	background-color: #d97570;
}

.wui-edit-move-collections {
	background-color: #e6e7e8;
}

.wui-editor-country {
	width: auto;
}

.wui-editor-country.unvalid {
	background-color: #d97570;
}

.wui-editor-date {
	width: auto;
}

.wui-editor-date.unvalid .yearPicker {
	background-color: #d97570;
}

.wui-editor-date.unvalid .monthPicker {
	background-color: #d97570;
}

.wui-editor-date.unvalid .dayPicker {
	background-color: #d97570;
}

/** Edit Producers Panel **/
.wui-edit-producers {
	padding: 5px;
}

.wui-edit-producers .title {
	
}

.wui-edit-producers .center {
	width: 100%;
	height: 100%;
}

.wui-edit-producers .member-list-scroll {
	border: 1px solid #58595b;
	background-color: white;
	width: 100%;
	height: 300px;
}

.wui-edit-producers .member-list-panel {
	width: 100%;
	padding: 1px;
}
.wui-edit-producers .wui-user-mini {
	cursor: pointer;
	cursor: hand;
	margin: 1px;
	padding: 1px;
}

.wui-edit-producers .wui-user-mini-selected {
	background-color: #ded48a;
}

.wui-edit-producers .wui-user-mini .user-layout {
	
}

.wui-edit-producers .wui-user-mini .user-icon {
	margin: 1px 10px 1px 1px;
}

.wui-edit-producers .wui-user-mini .user-label {
	width: 100%;
	font-size: 11px;
}

.wui-edit-producers .wui-group-mini {
	cursor: pointer;
	cursor: hand;
	margin: 1px;
	padding: 1px;
}

.wui-edit-producers .wui-group-mini-selected {
	background-color: #ded48a;
}

.wui-edit-producers .wui-group-mini .group-layout {
	
}

.wui-edit-producers .wui-group-mini .group-icon {
	margin: 1px 10px 1px 1px;
}

.wui-edit-producers .wui-group-mini .group-label {
	width: 100%;
	font-size: 11px;
}

/* Edit Object Permissions */

.wui-edit-permissions {
	padding: 5px;
}

.wui-edit-permissions .title {
	
}

.wui-edit-permissions .center {
	width: 100%;
	height: 100%;
}

.wui-edit-permissions .member-list-scroll {
	border: 1px solid #58595b;
	background-color: white;
	width: 100%;
	height: 340px;
}

.wui-edit-permissions .member-list-panel {
	width: 100%;
	padding: 1px;
}

.wui-edit-permissions .wui-user-mini {
	cursor: pointer;
	cursor: hand;
	margin: 1px;
	padding: 1px;
}

.wui-edit-permissions .wui-user-mini-selected {
	background-color: #ded48a;
}

.wui-edit-permissions .wui-user-mini .user-layout {
	
}

.wui-edit-permissions .wui-user-mini .user-icon {
	margin: 1px 10px 1px 1px;
}

.wui-edit-permissions .wui-user-mini .user-label {
	width: 100%;
	font-size: 11px;
}

.wui-edit-permissions .wui-group-mini {
	cursor: pointer;
	cursor: hand;
	margin: 1px;
	padding: 1px;
}

.wui-edit-permissions .wui-group-mini-selected {
	background-color: #ded48a;
}

.wui-edit-permissions .wui-group-mini .group-layout {
	
}

.wui-edit-permissions .wui-group-mini .group-icon {
	margin: 1px 10px 1px 1px;
}

.wui-edit-permissions .wui-group-mini .group-label {
	width: 100%;
	font-size: 11px;
}

/* User mini permissions panel */
.wui-user-mini-permissions {
	width: 100%;
}

.wui-user-mini-permissions .wui-user-mini {
	width: 100%;
}

.wui-user-mini-permissions-editor {
	margin: 1px;
	font-size: 11px;
}

/* Group mini permissions panel */

.wui-group-mini-permissions {
	width: 100%;
}

.wui-group-mini-permissions .wui-group-mini {
	width: 100%;
}

.wui-group-mini-permissions-editor {
	margin: 1px;
	font-size: 11px;
}

/* Physical Description Genre Form */

.wui-editor-genreform.unvalid {
	background-color: #d97570;
}

.wui-editor-genreform .wui-editor-genreform-id-box,
.wui-editor-genreform .wui-editor-genreform-source-box,
.wui-editor-genreform .wui-editor-genreform-name-box,
.wui-editor-genreform .wui-editor-genreform-description-box {
	width: 98%;
}

.wui-editor-genreform-readonly {
	width: 100%;
}

.wui-editor-genreform-readonly-column0 {
	width: 100px;
}

/* Material Specs */

.wui-editor-materialspecs .wui-editor-materialspecs-layout,
.wui-editor-materialspecs .wui-editor-materialspec-center {
	width: 100%;
}

.wui-editor-materialspecs .wui-editor-materialspecs-add {
	width: 120px;
	margin: 5px 10px;
}

.wui-editor-materialspecs .wui-editor-materialspec-value {
	width: 98%;
}

.wui-editor-materialspecs .wui-editor-materialspec-remove {
	cursor: pointer;
	cursor: hand;
}

.wui-editor-materialspecs .empty {
	color: #CCC;
}

.wui-editor-materialspecs.unvalid .empty {
	background-color: #d97570;
}

.wui-editor-materialspecs-readonly {
	width: 100%;
}

.wui-editor-materialspecs-readonly-column0 {
	width: 100px;
}

/* Control Accesses */

.wui-editor-controlaccesses .wui-editor-controlaccesses-layout,
.wui-editor-controlaccesses .wui-editor-controlaccess-center {
	width: 100%;
}

.wui-editor-controlaccesses .wui-editor-controlaccess-title {
	margin-left: 3px;
	margin-top: 4px;
	margin-bottom: 4px;
}

.wui-editor-controlaccesses .wui-editor-controlaccesses-add {
	width: 120px;
	margin: 5px 10px;
}

.wui-editor-controlaccesses .wui-editor-controlaccess {
	width: 100%;
	background-color: #dedfe0;
	margin-bottom: 2px;
}

.wui-editor-controlaccesses .wui-editor-controlaccess-remove {
	cursor: pointer;
	cursor: hand;
}

.wui-editor-controlaccesses .wui-editor-controlaccess:hover {
	background-color: white;
}

.wui-editor-controlaccesses.unvalid .wui-editor-controlaccess.unvalid {
	background-color: #d97570;
}

.wui-editor-controlaccesses.unvalid .wui-editor-controlaccess.unvalid:hover {
	background-color: #d97570;
}

.wui-editor-controlaccess .wui-editor-controlaccess-source-box,
.wui-editor-controlaccess .wui-editor-controlaccess-encoding-box,
.wui-editor-controlaccess .wui-editor-controlaccess-head-box,
.wui-editor-controlaccess .wui-editor-controlaccess-subject-box,
.wui-editor-controlaccess .wui-editor-controlaccess-function-box,
.wui-editor-controlaccess .wui-editor-controlaccess-p-box {
	width: 98%;
}

.wui-editor-controlaccesses-readonly,
.wui-editor-controlaccesses-readonly .wui-editor-controlaccesses-readonly-controlaccess,
.wui-editor-controlaccesses-readonly .wui-editor-controlaccesses-readonly-label {
	width: 100%;
}

.wui-editor-controlaccesses-readonly-column0 {
	width: 100px;
}

.wui-editor-controlaccesses-readonly .wui-editor-controlaccesses-readonly-controlaccess {
	margin-left: 15px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.wui-editor-controlaccesses-readonly .wui-editor-controlaccesses-readonly-label {
	margin-left: 5px;
}

/* Related Materials */

.wui-editor-relatedmaterials .wui-editor-relatedmaterials-layout,
.wui-editor-relatedmaterials .wui-editor-relatedmaterial-center,
.wui-editor-relatedmaterials .wui-editor-relatedmaterial-note {
	width: 100%;
}

.wui-editor-relatedmaterials .wui-editor-relatedmaterials-add {
	width: 120px;
	margin: 5px 10px;
}

.wui-editor-relatedmaterials .wui-editor-relatedmaterial {
	width: 100%;
	background-color: #dedfe0;
	margin-bottom: 2px;
}

.wui-editor-relatedmaterials .wui-editor-relatedmaterial-remove {
	cursor: pointer;
	cursor: hand;
}

.wui-editor-relatedmaterials .wui-editor-relatedmaterial:hover {
	background-color: white;
}

.wui-editor-relatedmaterials .wui-editor-relatedmaterial-center {
	padding: 5px;
}

.wui-editor-relatedmaterials .wui-editor-relatedmaterial-center .wui-editor-relatedmaterial-note-label {
	margin-top: 10px;
	width: 80px;
}

.wui-editor-relatedmaterials .wui-editor-relatedmaterial-center .wui-editor-relatedmaterial-note-box {
	width: 98%;
}

.wui-editor-relatedmaterials .wui-editor-relatedmaterial .wui-editor-unitid {
	width: 70%;
}

.wui-editor-relatedmaterials .wui-editor-relatedmaterial .wui-editor-unitid-value {
	width: 96%;
}

.wui-editor-relatedmaterials.unvalid .empty {
	background-color: #d97570;
}

.wui-editor-relatedmaterials-readonly,
.wui-editor-relatedmaterials-readonly .wui-editor-relatedmaterials-readonly-label,
.wui-editor-relatedmaterials-readonly .wui-editor-relatedmaterials-readonly-description,
.wui-editor-relatedmaterials-readonly .wui-editor-relatedmaterials-readonly-archref {
	width: 100%;
}

.wui-editor-relatedmaterials-readonly-column0 {
	width: 100px;
}

.wui-editor-relatedmaterials-readonly .wui-editor-relatedmaterials-readonly-description {
	margin-left: 15px;
	margin-top: 5px;
}
.wui-editor-relatedmaterials-readonly .wui-editor-relatedmaterials-readonly-archref {
	margin-left: 15px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.wui-editor-relatedmaterials-readonly .wui-editor-relatedmaterials-readonly-label {
	margin-left: 5px;
}

/* Process Info */

.wui-editor-processinfo .wui-editor-processinfo-layout,
.wui-editor-processinfo .wui-editor-processinfo-reason,
.wui-editor-processinfo .wui-editor-processinfoentry-center,
.wui-editor-processinfo .wui-editor-processinfoentry-center .wui-editor-processinfoentry-note,
.wui-editor-processinfo .wui-editor-processinfoentry-center .wui-editor-processinfoentry-type {
	width: 100%;
}

.wui-editor-processinfo .wui-editor-processinfo-reason-label {
	margin-top: 10px;
	padding-left: 5px;
	width: 135px;
}

.wui-editor-processinfo .wui-editor-processinfoentry-center .wui-editor-processinfoentry-type-label {
	margin-top: 4px;
	width: 135px;
}
.wui-editor-processinfo .wui-editor-processinfoentry-center .wui-editor-processinfoentry-note-label {
	margin-top: 10px;
	width: 135px;
}

.wui-editor-processinfo .wui-editor-processinfo-reason-box,
.wui-editor-processinfo .wui-editor-processinfoentry-center .wui-editor-processinfoentry-note-box {
	width: 98%;
}

.wui-editor-processinfo .wui-editor-processinfo-add {
	width: 120px;
	margin: 5px 10px;
}

.wui-editor-processinfo .wui-editor-processinfoentry {
	width: 100%;
	background-color: #dedfe0;
	margin-bottom: 2px;
}

.wui-editor-processinfo .wui-editor-processinfoentry-remove {
	cursor: pointer;
	cursor: hand;
}

.wui-editor-processinfo .wui-editor-processinfoentry:hover {
	background-color: white;
}

.wui-editor-processinfo .wui-editor-processinfoentry-center {
	padding: 5px;
}

.wui-editor-processinfo .wui-editor-processinfoentry .wui-editor-archref {
	margin-top: 10px;
}

.wui-editor-processinfo .wui-editor-processinfoentry .wui-editor-unitid {
	width: 70%;
}

.wui-editor-processinfo .wui-editor-processinfoentry .wui-editor-unitid-value {
	width: 96%;
}

.wui-editor-processinfo.unvalid .wui-editor-processinfoentry {
	background-color: #d97570;
}

.wui-editor-processinfo.unvalid .empty {
	background-color: white;
}

.wui-editor-processinfo .wui-editor-processinfoentry .wui-editor-archref .wui-editor-archref-note-label {
	width: 135px;
}

.wui-editor-processinfo-readonly,
.wui-editor-processinfo-readonly .wui-editor-processinfo-readonly-input,
.wui-editor-processinfo-readonly .wui-editor-processinfo-readonly-output {
	width: 100%;
}

.wui-editor-processinfo-readonly .wui-editor-processinfo-readonly-input,
.wui-editor-processinfo-readonly .wui-editor-processinfo-readonly-output {
	margin-top: 10px;
}

.wui-editor-processinfo-readonly .wui-editor-processinfo-readonly-input-label,
.wui-editor-processinfo-readonly .wui-editor-processinfo-readonly-output-label {
	margin-left: 5px;	
	margin-bottom: 5px;
}

.wui-editor-processinfo-readonly .wui-editor-archref-readonly {
	margin-left: 15px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.wui-editor-processinfo-readonly .wui-editor-processinfo-readonly-note .wui-editor-processinfo-readonly-column0 {
	width: 100px;
	margin-left: 2px;
}

.wui-editor-processinfo-readonly .wui-editor-processinfo-readonly-output-note {
	width: 100%;
	margin-left: 15px;
	margin-bottom: 10px;
}

.wui-editor-processinfo-readonly .wui-editor-processinfo-readonly-output-note .wui-editor-processinfo-readonly-column0 {
	width: 100px;
}

/* Archref */

.wui-editor-archref,
.wui-editor-archref .wui-editor-archref-layout,
.wui-editor-archref .wui-editor-archref-note,
.wui-editor-archref .wui-editor-unitid-center,
.wui-editor-archref .wui-editor-unitid {
	width: 100%;
}

.wui-editor-archref .wui-editor-archref-add {
	width: 120px;
	margin: 5px 10px;
}

.wui-editor-archref .wui-editor-unitid-remove {
	cursor: pointer;
	cursor: hand;
}

.wui-editor-archref  .wui-editor-archref-note-label {
	margin-top: 5px;
	width: 80px;
}

.wui-editor-archref  .wui-editor-archref-note-box {
	width: 98%;
}

.wui-editor-archref .wui-editor-unitid-value {
	width: 98%;
}

.wui-editor-archref-readonly,
.wui-editor-archref-readonly .wui-editor-archref-readonly-label,
.wui-editor-archref-readonly .wui-editor-archref-readonly-unitid,
.wui-editor-archref-readonly .wui-editor-archref-readonly-note  {
	width: 100%;
}

.wui-editor-archref-readonly-column0 {
	width: 100px;
}

.wui-editor-archref-readonly .wui-editor-archref-readonly-unitid {
	margin-left: 15px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.wui-editor-archref-readonly .wui-editor-archref-readonly-label {
	margin-left: 3px;
}

.wui-editor-archref-readonly .wui-editor-archref-readonly-note .wui-editor-archref-readonly-column0 {
	width: 100px;
}

/* Acquisition Infos */

.wui-editor-acqinfos .wui-editor-acqinfos-layout,
.wui-editor-acqinfos .wui-editor-acqinfo-center {
	width: 100%;
}

.wui-editor-acqinfos .wui-editor-acqinfos-add {
	width: 120px;
	margin: 5px 10px;
}

.wui-editor-acqinfos .wui-editor-acqinfo {
	width: 100%;
	background-color: #dedfe0;
	margin-bottom: 2px;
}

.wui-editor-acqinfos .wui-editor-acqinfo-text-box,
.wui-editor-acqinfos .wui-editor-acqinfo-date-box,
.wui-editor-acqinfos .wui-editor-acqinfo-num-box,
.wui-editor-acqinfos .wui-editor-acqinfo-corpname-box {
	width: 98%;
}

.wui-editor-acqinfos .wui-editor-acqinfo-remove {
	cursor: pointer;
	cursor: hand;
}

.wui-editor-acqinfos .wui-editor-acqinfo:hover {
	background-color: white;
}

.wui-editor-acqinfos .wui-editor-acqinfo-center {
	padding: 5px;
}

.wui-editor-acqinfos.unvalid .wui-editor-acqinfo.unvalid {
	background-color: #d97570;
}

.wui-editor-acqinfos-readonly,
.wui-editor-acqinfos-readonly .wui-editor-acqinfos-readonly-acqinfo,
.wui-editor-acqinfos-readonly .wui-editor-acqinfos-readonly-label {
	width: 100%;
}

.wui-editor-acqinfos-readonly-column0 {
	width: 100px;
}

.wui-editor-acqinfos-readonly .wui-editor-acqinfos-readonly-acqinfo {
	margin-left: 15px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.wui-editor-acqinfos-readonly .wui-editor-acqinfos-readonly-label {
	margin-left: 5px;
}

/* Notes */

.wui-editor-notes .wui-editor-notes-layout,
.wui-editor-notes .wui-editor-note-center {
	width: 100%;
}

.wui-editor-notes .wui-editor-notes-add {
	width: 120px;
	margin: 5px 10px;
}

.wui-editor-notes .wui-editor-note {
	width: 100%;
	background-color: #dedfe0;
	margin-bottom: 2px;
}

.wui-editor-notes .wui-editor-note:hover {
	background-color: white;
}

.wui-editor-notes .wui-editor-note-area {
	width: 98%;
}

.wui-editor-notes .wui-editor-note-remove {
	cursor: pointer;
	cursor: hand;
}

.wui-editor-notes .wui-editor-note-center {
	padding: 5px;
}

.wui-editor-notes-readonly {
	width: 100%;
}

/* Keywords */

.wui-editor-keywords .wui-editor-keywords-layout {
	width: 100%;
}

.wui-editor-keywords .wui-editor-keywords-add {
	width: 120px;
	margin: 5px 10px;
}

.wui-editor-keywords .wui-editor-keyword {
	width: 150px;
	display: inline-block;
}

.wui-editor-keywords .wui-editor-keyword {
	width: 150px;
	display: inline-block;
}

.wui-editor-keywords .wui-editor-keyword-text {
	width: 125px;
	margin-right: 2px;
}

.wui-editor-keywords .wui-editor-keyword-remove {
	cursor: pointer;
	cursor: hand;
}

.wui-editor-keywords-readonly {
	width: 100%;
}