services:
  zoo:
    image: docker.io/zookeeper:3.9.2-jre-17
    restart: unless-stopped
    ports:
      - "2181:2181"
    environment:
      - ZOO_4LW_COMMANDS_WHITELIST=mntr,conf,ruok
    volumes:
      - zookeeper_data:/data
      - zookeeper_datalog:/datalog
  solr:
    image: docker.io/solr:9.5.0
    restart: unless-stopped
    ports:
      - "8983:8983"
    environment:
      ZK_HOST: zoo:2181
      SOLR_HOST: localhost
      SOLR_OPTS: "-Dsolr.environment=dev,label=DEV+ENV"
    depends_on:
      - zoo
    command:
      - -c
    volumes:
      - solr_data:/var/solr
  clamd:
    image: docker.io/clamav/clamav:1.2.2
    restart: unless-stopped
    ports:
      - "3310:3310"
    volumes:
      - clam_data:/var/lib/clamav
      # Mapping $HOME/.roda to enable usage with spring-boot mode
      - $HOME/.roda/data/storage:$HOME/.roda/data/storage:ro
      # Mapping /tmp to enable usage with local testing via mvn test
      - /tmp:/tmp

  siegfried:
    image: ghcr.io/keeps/siegfried:v1.11.0
    restart: unless-stopped
    ports:
      - "5138:5138"
    environment:
      SIEGFRIED_HOST: 0.0.0.0
      SIEGFRIED_PORT: 5138
    volumes:
      - siegfried_data:/root/siegfried/
      # Mapping $HOME/.roda to enable usage with spring-boot mode
      - $HOME/.roda/data/storage:$HOME/.roda/data/storage:ro
      # Mapping /tmp to enable usage with local testing via mvn test
      - /tmp:/tmp:ro
  swagger:
    image: docker.io/swaggerapi/swagger-ui:v5.13.0
    restart: on-failure
    ports:
      - "8081:8080"
    environment:
      - URL=http://localhost:8080/api/openapi.json
      - DOC_EXPANSION=none
      - VALIDATOR_URL=none
volumes:
  zookeeper_data:
  zookeeper_datalog:
  solr_data:
  clam_data:
  siegfried_data:
