########################################
# RODA (Modules to install)    #########
########################################
INSTALL_CORE="yes"
INSTALL_MIGRATOR="yes"
INSTALL_UI="yes"
INSTALL_HANDLE="no"
INSTALL_CAS="yes"
INSTALL_FITS="yes"


########################################
# RODA (General settings)      #########
########################################
RODA_HOME="${HOME}/roda/"
LDAP_RECONFIGURE_SLAPD="no"
SERVLET_CONTAINER="tomcat6"
#SERVLET_CONTAINER="jboss4"
RODA_EXTERNAL_DOMAIN="roda.fake.domain"


########################################
# RODA (Common configurations) #########
########################################
LDAP_DOMAIN="keep.pt"
LDAP_BASE="dc=keep,dc=pt"
LDAPHOST="localhost"
LDAPPORT="389"
LDAP_ADMIN_DN="cn=admin,$LDAP_BASE"
LDAP_ADMIN_PASSWD="roda"
LDAP_USERS_DN="ou=users,$LDAP_BASE"
LDAP_GROUPS_DN="ou=groups,$LDAP_BASE"
LDAP_ROLES_DN="ou=roles,$LDAP_BASE"


########################################
# CAS CONFIGURATION              #######
########################################
RODA_CORE_URL="https://$RODA_EXTERNAL_DOMAIN:8443/roda-core"
RODA_CAS_URL="https://$RODA_EXTERNAL_DOMAIN:8443/cas"
RODA_CAS_EXTERNAL_URL="https://$RODA_EXTERNAL_DOMAIN:8443/cas"
RODA_SERVICE_URL="https://$RODA_EXTERNAL_DOMAIN:8443"
CAS_SERVER_NAME="https://$RODA_EXTERNAL_DOMAIN:8443"
CAS_SERVER_PREFIX="cas"


########################################
# RODA CORE ############################
########################################
RODA_GUEST_PASSWD="roda"
RODA_ADMIN_PASSWD="roda"
RODA_WUI_PASSWD="roda"
RODA_INGEST_TASK_PASSWD="roda"
RODA_PRESERVATION_TASK_PASSWD="roda"
RODA_HANDLE_PASSWD="roda"
FEDORA_DB="fedora22"
FEDORA_ADMIN_PASSWD="roda"
RODADATA_MYSQL_DB="roda"
RODADATA_MYSQL_HOST="localhost"
RODADATA_MYSQL_PORT="3306"
RODADATA_MYSQL_RODACORE_USER="root"
RODADATA_MYSQL_RODACORE_PASSWD="roda"
RODADATA_HOST="localhost"
RODADATA_PORT="8080"
RODAMIGRATORLINUX_HOST="localhost"
RODAMIGRATORLINUX_PORT="8080"


########################################
# RODA MIGRATOR ########################
########################################
RODACORE_HOST="localhost"
RODACORE_PORT="8080"
RODAWUI_MYSQL_HOST="localhost"
RODAWUI_MYSQL_PORT="3306"
RODAWUI_MYSQL_USER="roda-wui"
RODAWUI_MYSQL_USER_PASSWD="roda"


########################################
# RODA UI ##############################
########################################
RODA_WUI_PASSWD="roda"
RODAWUI_MYSQL_HOST="localhost"
RODAWUI_MYSQL_PORT="3306"
RODAWUI_MYSQL_USER="roda-wui"
RODAWUI_MYSQL_USER_PASSWD="roda"
RODACORE_HOST="localhost"
RODACORE_PORT="8080"
RODACORE_PUBLIC_HOSTNAME="localhost"
RODACORE_PUBLIC_PORT="8080"
RODAMIGRATORLINUX_HOST="localhost"
RODAMIGRATORLINUX_PORT="8080"
RODAWUI_HOST="localhost"
RODAWUI_PUBLIC_HOSTNAME="localhost"
RODAWUI_PUBLIC_PORT="8080"


########################################
# FITS #################################
########################################


########################################
# Exports                      #########
########################################
export RODA_EXTERNAL_DOMAIN=$RODA_EXTERNAL_DOMAIN
export FEDORA_ADMIN_PASSWD=$FEDORA_ADMIN_PASSWD
export FEDORA_DB=$FEDORA_DB
export INSTALL_CORE=$INSTALL_CORE
export INSTALL_HANDLE=$INSTALL_HANDLE
export INSTALL_MIGRATOR=$INSTALL_MIGRATOR
export INSTALL_UI=$INSTALL_UI
export INSTALL_CAS=$INSTALL_CAS
export INSTALL_FITS=$INSTALL_FITS
export LDAP_ADMIN_DN=$LDAP_ADMIN_DN
export LDAP_ADMIN_PASSWD=$LDAP_ADMIN_PASSWD
export LDAP_DOMAIN=$LDAP_DOMAIN
export LDAP_GROUPS_DN=$LDAP_GROUPS_DN
export LDAPHOST=$LDAPHOST
export LDAPPORT=$LDAPPORT
export LDAP_RECONFIGURE_SLAPD=$LDAP_RECONFIGURE_SLAPD
export LDAP_ROLES_DN=$LDAP_ROLES_DN
export LDAP_USERS_DN=$LDAP_USERS_DN
export RODA_ADMIN_PASSWD=$RODA_ADMIN_PASSWD
export RODACORE_HOST=$RODACORE_HOST
export RODACORE_PORT=$RODACORE_PORT
export RODACORE_PUBLIC_HOSTNAME=$RODACORE_PUBLIC_HOSTNAME
export RODACORE_PUBLIC_PORT=$RODACORE_PUBLIC_PORT
export RODADATA_HOST=$RODADATA_HOST
export RODADATA_MYSQL_DB=$RODADATA_MYSQL_DB
export RODADATA_MYSQL_HOST=$RODADATA_MYSQL_HOST
export RODADATA_MYSQL_PORT=$RODADATA_MYSQL_PORT
export RODADATA_MYSQL_RODACORE_PASSWD=$RODADATA_MYSQL_RODACORE_PASSWD
export RODADATA_MYSQL_RODACORE_USER=$RODADATA_MYSQL_RODACORE_USER
export RODADATA_PORT=$RODADATA_PORT
export RODA_GUEST_PASSWD=$RODA_GUEST_PASSWD
export RODA_HANDLE_PASSWD=$RODA_HANDLE_PASSWD
export RODA_HOME=${RODA_HOME%/}
export RODA_INGEST_TASK_PASSWD=$RODA_INGEST_TASK_PASSWD
export RODAMIGRATORLINUX_HOST=$RODAMIGRATORLINUX_HOST
export RODAMIGRATORLINUX_PORT=$RODAMIGRATORLINUX_PORT
export RODA_PRESERVATION_TASK_PASSWD=$RODA_PRESERVATION_TASK_PASSWD
export RODAWUI_HOST=$RODAWUI_HOST
export RODAWUI_MYSQL_HOST=$RODAWUI_MYSQL_HOST
export RODAWUI_MYSQL_PORT=$RODAWUI_MYSQL_PORT
export RODAWUI_MYSQL_USER=$RODAWUI_MYSQL_USER
export RODAWUI_MYSQL_USER_PASSWD=$RODAWUI_MYSQL_USER_PASSWD
export RODA_WUI_PASSWD=$RODA_WUI_PASSWD
export RODAWUI_PUBLIC_HOSTNAME=$RODAWUI_PUBLIC_HOSTNAME
export RODAWUI_PUBLIC_PORT=$RODAWUI_PUBLIC_PORT
export SERVLET_CONTAINER=$SERVLET_CONTAINER
export RODA_CORE_URL=$RODA_CORE_URL
export RODA_CAS_URL=$RODA_CAS_URL
export RODA_CAS_EXTERNAL_URL=$RODA_CAS_EXTERNAL_URL
export RODA_SERVICE_URL=$RODA_SERVICE_URL
export CAS_SERVER_NAME=$CAS_SERVER_NAME
export CAS_SERVER_PREFIX=$CAS_SERVER_PREFIX
