@CHARSET "UTF-8";

/** Ingest list **/
.wui-ingest-list {
	width: 100%;
}

.wui-ingest-list .ingest-lazy-list {
	width: 100%;
}

/** SIP List header**/
.ingest-lazy-list .ingest-list-header-filename {
	width: 170px;
}
.ingest-lazy-list .ingest-list-header-date {
	width: 145px;
}
.ingest-lazy-list .ingest-list-header-state {
	width: 145px;
}
.ingest-lazy-list .ingest-list-header-percentage {
	width: 50px;
}
.ingest-lazy-list .ingest-list-header-producer {
	width: 110px;
}
.ingest-lazy-list .ingest-list-header-toolbar {
}

/** SIP Panel **/
.wui-ingest-sip {
	width: 100%;
	cursor: pointer;
	cursor: hand;
}

.wui-ingest-sip-selected {
	
}

.wui-ingest-sip:focus {
	outline: none;
}

.wui-ingest-sip .sip-layout {
	width: 100%;
}

.wui-ingest-sip .sip-filename {
	width: 170px;
	white-space: nowrap;
	margin: 1px;
	padding: 2px 3px;
	color: #58595b;
	background-color: #e6e7e8;
	overflow: hidden;
}

.wui-ingest-sip .sip-date {
	width: 145px;
	white-space: nowrap;
	margin: 1px;
	padding: 2px 3px;
	color: #58595b;
	background-color: #e6e7e8;
}

.wui-ingest-sip .sip-state {
	width: 145px;
	white-space: nowrap;
	margin: 1px;
	padding: 2px 3px;
	color: #58595b;
	background-color: #e6e7e8;
}

.wui-ingest-sip .sip-percentage {
	width: 50px;
	text-align: right;
	white-space: nowrap;
	margin: 1px;
	padding: 2px 3px;
	color: #58595b;
	background-color: #e6e7e8;
}

.wui-ingest-sip .sip-producer {
	width: 110px;
	white-space: nowrap;
	margin: 1px;
	padding: 2px 3px;
	color: #58595b;
	background-color: #e6e7e8;
}

.wui-ingest-sip .sip-toolbar {
	width: 100%;
	text-align: center;
	margin: 1px;
	padding-top: 1px;
	padding-left: 5px;
	background-color: #e6e7e8;
}

.wui-ingest-sip .sip-toolbar-report {
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	cursor: hand;
}

.wui-ingest-sip .sip-toolbar-view {
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	cursor: hand;
}

.wui-ingest-sip-selected .sip-filename {
	background-color: #7e8a57;
	color: #e6e7e8;
}

.wui-ingest-sip-selected .sip-date {
	background-color: #7e8a57;
	color: #e6e7e8;
}

.wui-ingest-sip-selected .sip-state {
	background-color: #7e8a57;
	color: #e6e7e8;
}

.wui-ingest-sip-selected .sip-percentage {
	background-color: #7e8a57;
	color: #e6e7e8;
}
.wui-ingest-sip-selected .sip-producer {
	background-color: #7e8a57;
	color: #e6e7e8;
}

.wui-ingest-sip-selected .sip-toolbar {
	background-color: #7e8a57;
	color: #e6e7e8;
}

/** Ingest Report Panel **/
.wui-ingest-report-scroll {
	width: 100%;
	height: 100%;
	background-color: white;
}

.wui-ingest-report {
	width: 99%;
	color: #58595b;
}

.wui-ingest-report .report-file {
	margin: 5px;
}
	
.wui-ingest-report .report-file-label {
	font-weight: bold;
	margin-right: 5px;
}
	
.wui-ingest-report .report-file-value {
}
	
.wui-ingest-report .report-transitions {
	width: 100%;
}

.wui-ingest-report .sip-transition {
	width: 100%;
	margin: 1px;
}

.wui-ingest-report .sip-transition .header {
	background-color: #e6e7e8;
	color: #58595b;
	text-decoration: none;
}

.wui-ingest-report .sip-transition-content {
	background-color: #f5f5f1;
	width: 100%;
	padding-left: 10px;
	margin-right: 5px;
}
.wui-ingest-report .sip-transition-content-labels {
}
	
.wui-ingest-report .sip-transition-content-label {
	font-weight: bold;
	white-space: nowrap;
}
	
.wui-ingest-report .sip-transition-content-value {
	white-space: pre;
}

/** Producer info popup **/
.wui-ingest-list-producer-popup {
	border: 2px solid #58595b;
}

.producer-loading {
	cursor: wait;
}

/** Select Description Object Window **/
.select-do-window-tree {
	width: 100%;
	background-color: #e6e7e8;
}

/** Ingest Accept Window **/
.wui-ingest-accept-window {
	background-color: #e6e7e8;
	width: 400px;
	padding: 5px;
}
.wui-ingest-accept-window .accept-window-header {
	margin: 2px;
}
.wui-ingest-accept-window .accept-window-templates-header {
}
.wui-ingest-accept-window .accept-window-templates-list {
	height: 20px;
	margin-left: 5px;
}
.wui-ingest-accept-window .accept-window-message {
	width: 99%;
	height: 330px;
}

/** Ingest Reject Window **/
.wui-ingest-reject-window {
	background-color: #e6e7e8;
	width: 400px;
	padding: 5px;
}
.wui-ingest-reject-window .reject-window-header {
	margin: 2px;
}
.wui-ingest-reject-window .reject-window-templates-header {
}
.wui-ingest-reject-window .reject-window-templates-list {
	height: 20px;
	margin-left: 5px;
}
.wui-ingest-reject-window .reject-window-message {
	width: 99%;
	height: 330px;
}
.wui-ingest-reject-window .reject-window-notifyProducer {
	cursor: pointer;
	cursor: hand;
}
