<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- <pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern> -->
			<pattern>%date{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>


	<!-- <logger name="org.roda.core.plugins.orchestrate.akka" additivity="false"> -->
	<!-- <level value="TRACE" /> -->
	<!-- <appender-ref ref="STDOUT" /> -->
	<!-- </logger> -->

	<logger name="org.roda.core.plugins.orchestrate.akka.AkkaWorkerActor" additivity="false">
		<level value="OFF" />
	</logger>

	<logger name="org.roda.core.plugins.orchestrate.akka.DeadLetterActor" additivity="false">
		<level value="OFF" />
	</logger>

	<logger name="org.roda" additivity="false">
		<level value="INFO" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.roda.core.index.utils.RetryPolicyBuilder" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.apache.solr" additivity="false">
		<level value="WARN" />
		<appender-ref ref="STDOUT" />
	</logger>

	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
