<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- <pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern> -->
			<pattern>%date{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>


	<!-- <logger name="org.roda.core.plugins.orchestrate.pekko" additivity="false"> -->
	<!-- <level value="TRACE" /> -->
	<!-- <appender-ref ref="STDOUT" /> -->
	<!-- </logger> -->

	<logger name="org.roda.core.plugins.orchestrate.pekko.PekkoWorkerActor" level="off" additivity="false" />

	<logger name="org.roda.core.plugins.orchestrate.pekko.DeadLetterActor" level="off" additivity="false" />

	<logger name="org.roda" level="info" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.apache.solr" level="warn" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<root level="warn">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
