/* Incremental changes from CellTable.css */ 

.cellTableWidget {
	border-collapse: initial;
}

.cellTableHeader {
	border-bottom: 1px solid rgba(167, 169, 172, 0.5);
}

.cellTableHeader,.cellTableFooter {
	white-space: nowrap;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.4rem;
	font-weight: 500;
	text-shadow: none !important;
}

.cellTableFooter {
	border-top: 4px solid #eee;
}

.cellTableWidget {
	border-bottom: 1px solid #eee;
}

.cellTableKeyboardSelectedRow {
	background: none;
}

.cellTableKeyboardSelectedCell {
	border: none;
}

.cellTableHoveredRow {
	cursor: pointer;
}

.cellTableCell {
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 1.3rem;
}

.cellTableOddRow {
	background: #f8f8f8;
}

.cellTableOddRowCell {
	border-color: #f8f8f8;
}

.cellTableSelectedRow {
	background: #5bbeff;
}

.cellTableSelectedRowCell {
	border-color: #5bbeff;
}

.cellTableHoveredRow {
	background: #eee;
	color: black;
}

.cellTableHoveredRowCell {
	border-color: #eee;
}

.cellTableSelectedRow.cellTableHoveredRow {
	background: #5bbeff;
	color: white;
}

.cellTableSelectedRowCell.cellTableHoveredRowCell {
	border-color: #5bbeff;
}

@external .cellTableFadeOut;

.cellTableFadeOut {
    white-space: nowrap;
    position: relative;
    overflow: hidden;
}

.cellTableFadeOut:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 2em;
    height: 100%;
    background: -webkit-linear-gradient(right,#fff 30%,rgba(255,255,255,0) 100%);
    background: linear-gradient(-90deg,#fff 30%,rgba(255,255,255,0) 100%);
}

.cellTableOddRowCell.cellTableFadeOut:after {
	background: linear-gradient(-90deg,#f8f8f8 30%,rgba(255,255,255,0) 100%);
}

.cellTableSelectedRowCell.cellTableFadeOut:after {
	background: linear-gradient(-90deg,#5bbeff 30%,rgba(255,255,255,0) 100%);
}

.cellTableHoveredRowCell.cellTableFadeOut:after {
	background: linear-gradient(-90deg,#eee 30%,rgba(255,255,255,0) 100%);
}

.cellTableSelectedRowCell.cellTableHoveredRowCell.cellTableFadeOut:after {
	background: linear-gradient(-90deg,#5bbeff 30%,rgba(255,255,255,0) 100%);
}


