@CHARSET "UTF-8";

.wui-dissemination {
	color: #58595b;
}

/* @group Description Metadata Panel */
.descriptionMetadata {
	width: 100%;
}

/* @group Description Group Panel */
.descriptionElement {
	width: 100%;
}

.descriptionElement .edit-widget {
	width: 100%;
	height: auto;
}

.descriptionElement .readonly-widget.gwt-Label {
	white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
	white-space: -pre-wrap; /* Opera 4 - 6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: pre-wrap; /* CSS3 */
	word-wrap: break-word; /* IE 5.5+ */
}

.descriptionElement .edit-widget-tabs {
	margin: 0;
}

.descriptionElement .edit-widget-tabs .gwt-TabPanelBottom {
	border: 0;
	padding: 0;
	height: auto;
}

.descriptionElement .edit-widget-tabs .gwt-TabBar {
	background-color: inherit;
	border: 0;
}

.descriptionElement .edit-widget-tabs .gwt-TabBar .gwt-TabBarItem {
	filter: alpha(opacity = 75);
	-moz-opacity: .75;
	opacity: .75;
	border: 0;
	margin: 1px 2px;
	background-color: inherit;
	padding: 0;
	cursor: pointer;
	cursor: hand;
}

.descriptionElement .edit-widget-tabs .gwt-TabBar .gwt-TabBarItem-selected
	{
	background-color: inherit;
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1;
}

.descriptionElement .edit-widget-mode {
	width: 98%;
	padding: 0.5%;
}

.descriptionElement .wui-editor-date {
	width: auto;
}

.descriptionElement .wui-editor-physdesc {
	width: auto;
}

.descriptionElement .wui-editor-languages {
	width: auto;
}

.descriptionGroup {
	width: 100%;
}

.descriptionGroup-header {
	background-color: #5bbeff;
	font-weight: 500;
	color: white;
	padding: 5px;
}

.descriptionGroup-content {
	padding: 5px 0 15px 0;
}

.descriptionGroup .descriptionGroupTable .label-container {
	vertical-align: top;
	padding: 2px;
	background-color: #dedfe0;
}

.descriptionGroup .descriptionGroupTable .value-container {
	width: 100%;
	vertical-align: top;
	padding: 2px;
	background-color: #f0f1f2;
}

.descriptionGroup .descriptionGroup-row:hover .label-container {
	background-color: #e6e7e8;
}

.descriptionGroup .descriptionGroup-row:hover .value-container {
	background-color: white;
}

.descriptionGroup .descriptionGroupTable .label-container-last {
	
}

.descriptionGroup .descriptionGroupTable .value-container-last {
	
}

.descriptionGroup .descriptionGroup-label {
	margin: 10px 0 5px 0;
}

.descriptionGroup .descriptionGroup-value {
	
}

.descriptionGroup .descriptionGroup-value * {
	
}

/* @end */