@CHARSET "UTF-8";

.aboutpage {
	font-family:  Verdana, Lucida, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #58595b;
}

.phasespage {
	font-family:  Verdana, Lucida, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #58595b;
}

.recuperationpage {
	font-family:  Verdana, Lucida, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #58595b;
}

.associatedprojectspage {
	font-family:  Verdana, Lucida, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #58595b;
}

.contactspage {
	font-family:  Verdana, Lucida, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #58595b;
}