@CHARSET "UTF-8";

.main {
	background-color: white;
}

.footer {
	background-color: #414042;
	margin-top: 0;
}

.footer .row {
	margin: 40px;
}

.footer h3 {
	margin-top: 0;
}

.footer * {
	color: white;
}

.footer p {
	font-size: 1.2rem;
	color: rgba(255, 255, 255, 0.8);
}

.page-description p {
	margin-bottom: 1em;
	font-size: 12px;
	line-height: 18px;
}

.roda-logo {
	font-family: 'RODALogo' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.roda-logo:before {
	content: "\e900";
}

/* @group Banner */
/*
.main .banner {
	background-image: url("images/banner_roda.png");
	background-repeat: no-repeat;
	width: 955px;
	height: 110px;
	margin-top: 10px;
}
.main .banner .homeLink {
	width: 300px;
	height: 110px;
	cursor: pointer;
	cursor: hand;
}*/

/* @end */

/* @group Language Switcher Panel */
.wui-languageSwitcher {
	
}

.wui-languageSwitcher .languageSwitcher-flag {
	margin: 0px 1px;
	cursor: pointer;
	cursor: hand;
}

/* @end */

/* @group Login Panel */
.wui-login {
	position: relative;
	width: 250px;
	padding-top: 5px;
}

.wui-login .wui-login-message {
	width: 250px;
	position: absolute;
	top: 5px;
	left: 40px;
	color: #ffffff;
}

.wui-login .wui-login-layout-guest {
	
}

.wui-login .wui-login-box-user {
	width: 180px;
	_width: 184px;
	position: absolute;
	top: 33px;
	left: 40px;
	padding: 2px;
	border: 1px solid black;
	font-size: 9pt;
	color: #58595b;
	text-align: left;
}

.wui-login .wui-login-box-pass {
	width: 180px;
	_width: 184px;
	position: absolute;
	top: 62px;
	left: 40px;
	padding: 2px;
	border: 1px solid black;
	font-size: 9pt;
	color: #58595b;
}

.wui-login .wui-login-box-user-dummy {
	color: #58595b;
}

.wui-password-label {
	position: absolute;
	left: 43px;
	top: 65px;
	width: 150px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 9pt;
	overflow: hidden;
	color: #58595b;
}

.wui-password-button {
	position: absolute;
	left: 207px;
	top: 66px;
	cursor: pointer;
	cursor: hand;
}

.wui-login .wui-login-box-pass-dummy {
	width: 150px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 9pt;
	color: #999;
	margin-bottom: 5px;
}

.wui-login .wui-login-layout-logged {
	
}

.wui-login .wui-logout-button {
	width: 200px;
	position: absolute;
	top: 65px;
	left: 40px;
	color: #ffffff;
	padding-bottom: 3px;
	border-bottom: 1px dashed #ffffff;
	cursor: pointer;
	cursor: hand;
}

.wui-login .wui-logout-button-hover {
	text-decoration: underline;
}

.wui-login .wui-loginLinks {
	position: absolute;
	top: 88px;
	left: 40px;
}

.wui-login .wui-loginLinks .loginLink a {
	font-family: 'Ubuntu', sans-serif;
	font-size: 9pt;
	color: #ffffff;
	text-decoration: none;
	white-space: nowrap;
}

.wui-login .wui-loginLinks .loginLink:hover a {
	text-decoration: underline;
}

.wui-login .wui-loginLinks .separator {
	font-family: 'Ubuntu', sans-serif;
	font-size: 9pt;
	color: #ffffff;
}

/* @end */

/* @group Login Dialog */
.wui-login-dialog {
	
}

.wui-login-dialog .username-label {
	margin: 5px;
	white-space: nowrap;
}

.wui-login-dialog .username-box {
	
}

.wui-login-dialog .password-label {
	margin: 5px;
	white-space: nowrap;
}

.wui-login-dialog .password-box {
	
}

.wui-login-dialog .login {
	
}

.wui-login-dialog .cancel {
	margin-right: 10px;
}
/* @end */

/* @group Menus */
.gwt-MenuBar {
	background-color: #5bbeff;
}

.gwt-MenuBar table {
	border-spacing: 0;
}

.gwt-MenuBar.gwt-MenuBar-vertical {
	background-color: #3998da;
}

.gwt-MenuBar.gwt-MenuBar-vertical .gwt-MenuItem {
	min-width: 130px;
	background-color: #3998da;
}

.gwt-MenuBar .gwt-MenuItem {
	cursor: pointer;
	cursor: hand;
	font-weight: 500;
	font-size: 1.3rem;
	font-variant: normal;
	color: #fff;
	padding: 5px 10px;
	text-align: left;
}

.gwt-MenuBar .gwt-MenuItem-selected {
	background-color: #3998da;
}

.gwt-MenuBar.gwt-MenuBar-vertical .gwt-MenuItem-selected {
	background-color: #5bbeff;
}

.main .menus {
	border-spacing: 0;
	width: 100%
}

.main .menu_item {
	font-family: 'Ubuntu', sans-serif;
	font-size: 8pt;
	font-variant: small-caps;
	color: #000000;
	margin-top: 2px;
	cursor: pointer;
	cursor: hand;
}

.main .menu_item:hover {
	color: #d9d9d9;
}

.main .menu-item-on {
	color: #FFFFFF;
}

.main .menu-item-on:hover {
	color: #FFFFFF;
}

.main .menu_separator {
	font-family: 'Ubuntu', sans-serif;
	font-size: 9pt;
	font-variant: small-caps;
	color: #666;
	margin-left: 2px;
	margin-right: 2px;
}

.main .menus .about.menu-closed {
	background-color: #bcbec0;
}

.main .menus .about.menu-open {
	background-color: #88AFBE;
}

.main .menus .dissemination.menu-closed {
	background-color: #bcbec0;
}

.main .menus .dissemination.menu-open {
	background-color: #79C2FF;
}

.main .menus .administration.menu-closed {
	background-color: #bcbec0;
}

.main .menus .administration.menu-open {
	background-color: #D7BC00;
}

.main .menus .ingest.menu-closed {
	background-color: #9EAB73;
}

.main .menus .ingest.menu-open {
	background-color: #7e8a57;
}

/* @end */

/* @group Breadcrumb */
.main .wui-breadcrumbPanel {
	margin-top: 10px;
	margin-bottom: 20px;
}

.main .wui-breadcrumbPanel .breadcrumb {
	display: inline;
	color: #a7a9ac;
	cursor: pointer;
	cursor: hand;
	font-size: 1.2rem;
}

.main .wui-breadcrumbPanel .breadcrumb * {
	color: #a7a9ac;
}

.main .wui-breadcrumbPanel .breadcrumb .fa, .main .wui-breadcrumbPanel .breadcrumb .description-level
	{
	margin: 0 3px;
	color: #a7a9ac;
}

.main .wui-breadcrumbPanel .breadcrumb-last {
	color: #404142;
	text-decoration: none;
}

.main .wui-breadcrumbPanel .breadcrumb-last .fa, .main .wui-breadcrumbPanel .breadcrumb-last .description-level
	{
	color: #404142;
}

.main .wui-breadcrumbPanel .breadcrumb-separator {
	display: inline;
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	color: #a7a9ac;
	cursor: text;
}

/* @end */

/* @group Content Panel */
.main .contentPanel {
	min-height: 600px;
}

.main .contentTitle {
	padding: 10px 35px 15px 40px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 15pt;
	font-weight: bold;
	color: #404142;
	font-variant: small-caps;
	text-align: left;
}

/* @end */
.wui-home {
	color: #58595b;
}

/* @group Image Link */
.image-link {
	cursor: hand;
	cursor: pointer;
}

.image-link-panel {
	width: 200px;
}

.image-link-image {
	
}

.image-link-label {
	margin-top: 3px;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	margin-left: 10px;
}

/* @end */

/* @group CAS Login Panel */
.wui-login .wui-loginLinks {
	position: relative;
	top: 0;
	left: 0;
	margin-top: 20px;
}

.wui-login .wui-login-login, .wui-login .wui-login-user {
	margin-top: 12px;
}

.wui-login .loginLink {
	color: white;
}

.wui-login .loginLink:hover {
	text-decoration: underline;
	cursor: hand;
	cursor: pointer;
}

/* @end */

/* @group Description Metadata Panel */
.descriptionMetadata {
	width: 100%;
}

/* @group Description Group Panel */
.descriptionElement {
	width: 100%;
}

.descriptionElement .edit-widget {
	width: 100%;
	height: auto;
}

.descriptionElement .readonly-widget.gwt-Label {
	white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
	white-space: -pre-wrap; /* Opera 4 - 6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: pre-wrap; /* CSS3 */
	word-wrap: break-word; /* IE 5.5+ */
}

.descriptionElement .edit-widget-tabs {
	margin: 0;
}

.descriptionElement .edit-widget-tabs .gwt-TabPanelBottom {
	border: 0;
	padding: 0;
	height: auto;
}

.descriptionElement .edit-widget-tabs .gwt-TabBar {
	background-color: inherit;
	border: 0;
}

.descriptionElement .edit-widget-tabs .gwt-TabBar .gwt-TabBarItem {
	filter: alpha(opacity = 75);
	-moz-opacity: .75;
	opacity: .75;
	border: 0;
	margin: 1px 2px;
	background-color: inherit;
	padding: 0;
	cursor: pointer;
	cursor: hand;
}

.descriptionElement .edit-widget-tabs .gwt-TabBar .gwt-TabBarItem-selected
	{
	background-color: inherit;
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1;
}

.descriptionElement .edit-widget-mode {
	width: 98%;
	padding: 0.5%;
}

.descriptionElement .wui-editor-date {
	width: auto;
}

.descriptionElement .wui-editor-physdesc {
	width: auto;
}

.descriptionElement .wui-editor-languages {
	width: auto;
}

.descriptionGroup {
	width: 100%;
}

.descriptionGroup-header {
	background-color: #5bbeff;
	font-weight: 500;
	color: white;
	padding: 5px;
}

.descriptionGroup-content {
	padding: 5px 0 15px 0;
}

.descriptionGroup .descriptionGroupTable .label-container {
	vertical-align: top;
	padding: 2px;
	background-color: #dedfe0;
}

.descriptionGroup .descriptionGroupTable .value-container {
	width: 100%;
	vertical-align: top;
	padding: 2px;
	background-color: #f0f1f2;
}

.descriptionGroup .descriptionGroup-row:hover .label-container {
	background-color: #e6e7e8;
}

.descriptionGroup .descriptionGroup-row:hover .value-container {
	background-color: white;
}

.descriptionGroup .descriptionGroupTable .label-container-last {
	
}

.descriptionGroup .descriptionGroupTable .value-container-last {
	
}

.descriptionGroup .descriptionGroup-label {
	margin: 10px 0 5px 0;
}

.descriptionGroup .descriptionGroup-value {
	
}

.descriptionGroup .descriptionGroup-value * {
	
}

/* @end */

/*******************************************************************/
/*******************************************************************/
/*******************     BROWSER      ******************************/
/*******************************************************************/
/*******************************************************************/

/* Browser v2*/
.browseTitle {
	margin-bottom: 10px !important;
}

.browseTitle-allCollections {
	line-height: 4rem;
	font-size: 2.4rem;
}

.browseBreadcrumb {
}

.browseItemPanel {
	margin-top: 2em;
	vertical-align: middle;
}

.browseItemPanelText {
	display: inline;
	vertical-align: middle;
	padding-left: 1em;
}

.browseItemIcon {
	display: inline;
	width: 50px;
	vertical-align: middle;
}

.browseTitle-allCollections-wrapper .browseItemIcon,
.browseTitle-allCollections-wrapper .browseItemPanelText {
	display: inline-block;
}

.browseItemIcon-all {
	display: inline-block;
	font-size: 4rem;
	line-height: 4rem;
}

.browseItemIcon-other {
	display: inline-block;
	font-size: 4rem;
	line-height: 4rem;
}

.browseItemText {
	display: inline;
	margin-bottom: 0 !important;
}

.browseItemDates {
	color: #a7a9ac;
	font-size: 1.2rem;
}

.browseSearchListTitle {
	float: left;
	margin: 0 0 0 0;
}

.browseItemMetadata {
	padding: 20px 0;
	width: 100%;
}

.browseItemMetadata.gwt-TabPanel {
	margin: 10px 0 10px 0;
}

.browseItemMetadata.gwt-TabBar {
	border-collapse: collapse;
}

.browseItemMetadata .gwt-TabPanelBottom {
	background-color: white;
	padding: 5px 10px;
/* 	border-right: 1px solid rgba(167, 169, 172, 0.5); */
/* 	border-left: 1px solid rgba(167, 169, 172, 0.5); */
/* 	border-bottom: 1px solid rgba(167, 169, 172, 0.5); */
	margin-bottom: 20px;
	min-height: 25px;
}

.browseItemMetadata .gwt-TabBarRest-wrapper {
	border-bottom: 1px solid rgba(167, 169, 172, 0.5);
}

.browseItemMetadata .gwt-TabBarItem-wrapper {
	border-bottom: 1px solid rgba(167, 169, 172, 0.5);
	padding-right: 20px;
}

.browseItemMetadata .gwt-TabBarItem {
/* 	background-color: #eee; */
	background: white;
/* 	border-right: 1px solid white; */
/* 	border-left: 1px solid white; */
/* 	border-top: 1px solid white; */
	border: none;
	margin: 0;
/* 	padding: 5px 10px; */
	cursor: pointer;
	cursor: hand;
	
	font-size: 15px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	position: relative;
	color: #a7a9ac;
}

.browseItemMetadata .gwt-TabBarItem > div {
	padding-bottom: 3px;
}

.browseItemMetadata .gwt-TabBarItem:after {
	content: '';
    display: block;
    position: absolute;
    height: 2px;
    left: 50%;
    background-color: #089de3;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
    width: 0px;
    bottom: -1px;
}

.browseItemMetadata .gwt-TabBarItem:hover {
	color: #089de3;
}

.browseItemMetadata .addTabWrapper {
	background-color: white;
	color: #089de3;
}

.browseItemMetadata .addTabWrapper > div {
	padding-bottom: 5px;
}	

.browseItemMetadata .addTabWrapper:hover {
	color: #3998d0;
}

.browseItemMetadata .addTabWrapper:hover:after {
	width: 0;
}

.browseItemMetadata .gwt-TabBarItem .premisTab, .browseItemMetadata .gwt-TabBarItem .addTab {
	font-weight: normal;
	font-size: 1.3rem;
	white-space: nowrap;
}

.browseItemMetadata .gwt-TabBarItem .premisTab * {
	display: inline-block;
}

.browseItemMetadata .gwt-TabBarItem .premisTab .gwt-HTML {
	margin-right: 5px;
}

.browseItemMetadata .gwt-TabBarItem .gwt-Label {
	color: inherit;
	font-weight: normal;
	font-size: 1.5rem;
}

.browseItemMetadata .gwt-TabBarItem-wrapper-selected {
/* 	border-bottom: none; */
}

.browseItemMetadata .gwt-TabBarItem-selected {
	margin: 0;
	background-color: white;
/* 	border: 1px solid rgba(167, 169, 172, 0.5); */
/* 	border-bottom: none; */
	border-bottom: none;
/* 	padding-top: 6px */
	color: #089de3;
}

/* .browseItemMetadata .gwt-TabBarItem:hover:after, */
.browseItemMetadata .gwt-TabBarItem-selected:after {
	width: 100%;
	left: 0;
}

.browseItemMetadata .gwt-TabBarItem-selected .gwt-Label {
	font-weight: normal;
	color: inherit;
}

.descriptiveMetadata {
	font-size: 1.3rem;
}

.descriptiveMetadata .title, .preservationMetadata .title {
	display: none;
	color: #a7a9ac;
	border-bottom: 1px solid rgba(167, 169, 172, 0.5);
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.descriptiveMetadataLinks {
	float: right;
	margin-top: -5px;
	margin-right: -10px;
}

.descriptiveMetadataLink {
	display: inline-block;
	font-size: 20px;
	line-height: 35px;
	width: 35px;
	height: 35px;
	cursor: pointer;
	cursor: hand;
	color: white;
	background-color: #999;
	text-align: center;
}

.descriptiveMetadataLink:hover {
	color: white;
	background-color: #089de3;
}

.descriptiveMetadata-field {
	margin-bottom: 10px;
}

.descriptiveMetadata-field-key {
	font-weight: 300;
	color: #999;
}

.descriptiveMetadata-field-value {
	
}

.browseDownload {
	margin-bottom: 10px;
}

.browseDownloadIcon {
	float: left;
	font-size: 20px;
	line-height: 30px;
	margin-right: 7px;
}

.browseDownloadLabels {
	line-height: 1.2;
}

.browseDownloadLabel {
	color: #089de3;
	font-size: 1.2rem;
	cursor: pointer;
}

.browseDownloadSublabel {
	font-size: 1rem;
	margin-left: 25px;
}

.metadata-edit-area {
	height: 300px;
	max-width: 100%;
}

.metadata-edit-errors {
	color: #D20707;
	font-size: 1.2rem;
}

.metadata-edit-errors .error {
	margin-bottom: 5px;
	display: block;
}

/* --------------------------------------------------

  ****************** PREMIS ************************

  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.toggle-next {
	cursor: pointer;
}

.representation .header {
	font-size: 2rem;
	display: block;
}

.representation .header:before {
	content: '\f1b3';
	font-family: 'FontAwesome';
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 5px;
}

.representation .header .identifiers {
	font-size: 1.5rem;
}

.header .field {
	display: inline;
	font-size: 1rem;
	background-color: #eee;
	padding: 4px;
	border-radius: 3px;
	margin: 0 2px;
}

.header>.field .field-label:after {
	content: ':';
	margin-right: 5px;
}

.header .identifierType {
	display: none;
}

.header .identifierType:after {
	content: ':';
}

.representation .header .identifiers {
	font-size: 1.5rem;
}

.representation .preservationLevel, .derivation {
	color: #888;
	display: block;
	margin-left: 3.2rem;
	font-size: 1.1rem;
}

.section {
	display: block;
	margin-left: 3.2rem;
}

.sectionTitle {
	display: block;
	font-size: 1.8rem;
	margin-top: 1rem;
}

.sectionContent {
	display: block;
}

.file, .event {
	margin-bottom: 0.1rem;
	display: block;
}

.file .header {
	display: block;
	font-size: 1.4rem;
	display: block;
}

.file .header:before {
	content: '\f1b2';
	font-family: 'FontAwesome';
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 5px;
}

.file .header .identifiers {
	
}

.file .subheader {
	display: block;
	color: #888;
	font-size: 1.2rem;
	margin-left: 7px;
	border-left: 1px solid #ccc;
	padding-left: 13px;
}

.file .subheader .size:after {
	content: ' B,';
}

.formatRegistry:before {
	content: '(';
}

.formatRegistry:after {
	content: ')';
}

.formatRegistryName:after {
	content: ':';
}

.browseItemMetadata .content {
	/*display: block;*/
	display: none; /* for toggle */
	margin-left: 7px;
	border-left: 1px solid #eee;
	padding-left: 13px;
	padding-top: 5px;
}

.metadataContent .pagination {
	display: none;
}

.metadataContent .agents {
	display: none;
}

/* Tables for metadata content
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.metadataContent thead td {
	font-weight: 500;
}

.metadataContent th, .metadataContent td {
	/*padding: 12px 15px;*/
	padding: 7px 10px;
	text-align: left;
	border-bottom: 1px solid #E1E1E1;
}

.metadataContent th:first-child, .metadataContent td:first-child {
	padding-left: 0;
}

.metadataContent th:last-child, .metadataContent td:last-child {
	padding-right: 0;
}

.content>.field {
	display: block;
	line-height: 1.6rem;
	margin-bottom: 0.5rem;
}

.content>.field .field-label {
	font-weight: bold;
	font-size: 1.2rem;
}

.content>.field .field-label:after {
	content: ':';
	margin-right: 5px;
}

.content>.field .field-value {
	font-size: 1.2rem;
}

.browseItemMetadata code {
	max-height: 300px;
}

.event .header {
	display: block;
	font-size: 1.4rem;
}

.event .header:before {
	content: '\f017';
	font-family: 'FontAwesome';
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 5px;
}

.event .header .identifier {
	
}

.event .subheader {
	display: block;
	color: #888;
	font-size: 1.2rem;
	margin-left: 2rem;
}

.event .linkingAgent .type, .event .linkingObject .type {
	display: none;
}

.event .linkingAgent .value:before, .event .linkingObject .value:before {
	content: '(';
}

.event .linkingAgent .value:after, .event .linkingObject .value:after {
	content: ')';
}

.agent .header {
	font-size: 1.6rem;
	display: block;
}

.agent .header:before {
	content: '\f007';
	font-family: 'FontAwesome';
}

.agent .subheader {
	display: block;
	color: #888;
	font-size: 1.2rem;
	margin-left: 2rem;
}

/** Browser**/
.wui-browse {
	width: 865px;
}

.wui-browse .browse-header {
	width: 100%;
	margin-bottom: 2px;
}

.wui-browse .browse-total {
	font-size: 11px;
	color: #58595b;
	white-space: nowrap;
	margin-top: 2px;
}

.wui-browse .browse-createFonds {
	margin-left: 5px;
	cursor: pointer;
	cursor: hand;
	width: 80px;
}

.wui-browse .browse-refresh {
	margin-left: 5px;
	cursor: pointer;
	cursor: hand;
}

.wui-browse .view-toggle {
	width: 16px;
	cursor: pointer;
	cursor: hand;
}

.wui-browse-split {
	width: 865px;
	height: 440px;
}

.wui-browse-split .hsplitter {
	display: table;
	width: 10px;
}

.wui-browse-split-hidden {
	
}

.wui-browse-split-hidden .hsplitter {
	display: none;
	width: 0px;
}

.viewPanel-container {
	width: 99%;
}

.wui-view-panel {
	width: 100%;
}

.viewPanel-tabs {
	width: 100%;
	margin: 0;
}

.viewPanel-bottom {
	width: 100%;
}

.viewPanel-tabs .gwt-TabBar {
	background-color: #e6e7e8;
	border: 0;
}

.viewPanel-tabs .gwt-TabPanelBottom {
	height: 400px;
	padding: 0;
}

.viewPanel-description-layout {
	width: 100%;
}

.viewPanel-description-scroll {
	width: 100%;
	height: 390px;
}

.viewPanel-action {
	margin: 5px;
}

.viewPanel-edit {
	width: 80px;
	margin: 5px;
}

.viewPanel-save {
	width: 80px;
	margin: 5px;
}

.viewPanel-createChild {
	width: 90px;
	margin: 5px;
}

.viewPanel-clone {
	width: 90px;
	margin: 5px;
}

.viewPanel-move {
	width: 80px;
	margin: 5px;
}

.viewPanel-remove {
	width: 80px;
	margin: 5px;
}

.viewPanel-close {
	width: 80px;
	margin: 5px;
}

.viewPanel-optionalFieldsToggle {
	position: absolute;
	top: 5px;
	right: 5px;
	color: white;
	text-decoration: underline;
	cursor: pointer;
	cursor: hand;
}

.wui-view-window  .viewPanel-tabs .gwt-TabBar {
	background-color: #999;
}

.wui-view-window .viewPanel-tabs .gwt-TabPanelBottom {
	/*height: 574px;*/
	
}

/** Item Popup **/
.itemPopup-focus {
	
}

.itemPopup-layout {
	width: 350px;
	border: 1px solid #414042;
	background-color: #f1f699;
}

.itemPopup .header {
	width: 100%;
	padding: 1px 2px;
	background-color: #414042;
	color: #e6e7e8;
}

.itemPopup-scroll {
	max-height: 200px;
	height: expression(document.body.clientHeight > 200 ? "200px" : "auto");
}

.itemPopup .description {
	max-width: 350px;
	padding: 1px 2px;
	width: expression(document.body.clientWidth > 350 ? "350px" : "auto");
	color: #414042;
	font-size: 11px;
}

/* @group Collection Tree */
.collection-tree {
	width: 100%;
}

.collection-tree  TABLE {
	width: 100%;
	border-spacing: 0px;
}

.collection-tree .gwt-TreeItem .treeitem-layout {
	border: 0;
	padding: 0;
	margin: 0;
}

.collection-tree .gwt-TreeItem-selected .treeitem-layout {
	border: 1px solid #6a9bae;
}

.TreeItemPanel {
	border: 0;
	cursor: pointer;
	cursor: hand;
	vertical-align: middle;
	white-space: nowrap;
	display: inline;
	width: 100%;
}

.TreeItemPanel .treeitem-layout {
	height: 20px;
}

.TreeItem-dummy {
	width: auto;
	font-size: 11px;
	color: #58595b;
}

.TreeItem-dummy table {
	width: auto;
}

.TreeItem-dummy .gwt-TreeItem {
	width: auto;
}

.TreeItemPanel .treeitem-icon {
	margin: auto;
}

.TreeItemPanel .treeitem-label {
	font-size: 11px;
	color: #58595b;
	margin-left: 3px;
	width: 100%;
	height: 20px;
	vertical-align: middle;
	overflow: hidden;
}

.TreeItemPanel .treeitem-info-title {
	font-size: 11px;
	color: #58595b;
	width: 480px;
	background-color: #d7d8d9;
	overflow: hidden;
	padding-left: 2px;
	padding-right: 2px;
	height: 20px;
	vertical-align: middle;
}

.TreeItemPanel .treeitem-info-data {
	text-align: center;
	font-size: 11px;
	color: #58595b;
	margin-left: 2px;
	width: 90px;
	background-color: #d7d8d9;
	height: 20px;
	vertical-align: middle;
	white-space: nowrap;
}

.TreeItemPanel:hover {
	color: #000;
	cursor: pointer;
	cursor: hand;
}

.TreeItemPanel .itemWaitingImage {
	position: absolute;
	left: 0px;
}

.jumpitem {
	width: auto;
}

.jumpitem table {
	width: auto;
}

.jumpitem .gwt-TreeItem {
	width: auto;
}

.jumpitem-next {
	
}

.jumpitem-previous {
	
}

.jumpitem-layout {
	width: auto;
}

.jumpitem-text {
	font-size: 11px;
	color: #58595b;
	cursor: pointer;
	cursor: hand;
}

.jumpitem-icon {
	cursor: pointer;
	cursor: hand;
}

.BrowseTree .sliderPanel {
	width: 20px;
	height: 200px;
}

.BrowseTree .slider {
	width: 20px;
	height: 200px;
}

.BrowseTree .slider .handle {
	width: 18px;
	height: 18px;
	/*	background-image: url("images/slider_handle.png");*/
}

.BrowseTree .slider .background {
	width: 20px;
	height: 200px;
	border: 1px solid black;
	/*	background-image: url("images/slider_background.png");*/
}

/* @end */

/* @group Elements Vertical Scroll Panel */
.elementVerticalScrollPanel {
	width: 100%;
}

.elementVerticalScrollPanel .scrollAutoLoader {
	width: 100%;
	height: 440px;
	overflow-y: scroll !important;
}

.elementVerticalScrollPanel .layout {
	width: 99%;
}

.elementVerticalScrollPanel .wui-list-header {
	width: 100%;
}

.elementVerticalScrollPanel .wui-list-header * {
	color: white;
}

.elementVerticalScrollPanel .element-header-id {
	/*width: 100%;*/
	white-space: nowrap;
	padding: 0px 3px;
	margin: 1px;
	background-color: #58595b;
	color: white;
}

.elementVerticalScrollPanel .element-header-title {
	width: 480px;
	white-space: nowrap;
	padding: 0px 3px;
	margin: 1px;
	background-color: #58595b;
	color: white;
}

.elementVerticalScrollPanel .element-header-date-initial {
	width: 84px;
	white-space: nowrap;
	padding: 0px 3px;
	margin: 1px;
	background-color: #58595b;
	color: white;
}

.elementVerticalScrollPanel .element-header-date-final {
	width: 92px;
	white-space: nowrap;
	padding: 0px 3px;
	margin: 1px 17px 1px 1px;
	background-color: #58595b;
	color: white;
}

.elementVerticalScrollPanel-noInfo .element-header-title {
	display: none;
}

.elementVerticalScrollPanel-noInfo .element-header-date-initial {
	display: none;
}

.elementVerticalScrollPanel-noInfo .element-header-date-final {
	display: none;
}

/* @end */ /* @end */ /** Element Path Panel **/
.wui-elementPath {
	vertical-align: middle;
}

.wui-elementPath .elementPathItem-layout {
	margin-left: 10px;
	cursor: pointer;
	cursor: hand;
}

.wui-elementPath .elementPathItem-layout .elementPathItem-icon {
	
}

.wui-elementPath .elementPathItem-layout .elementPathItem-id {
	font-family: Verdana, Lucida, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #58595b;
	margin-left: 3px;
	vertical-align: middle;
}

.wui-elementPath .elementPathItem-final-layout .elementPathItem-id {
	font-weight: bold;
}

.wui-elementPath .separator {
	margin-left: 10px;
}

/** Arrangement table **/
.wui-browse-arrangementTable { /*	background-color: white;*/
	
}

.wui-browse-arrangementTable .header-cell {
	background-color: #58595b;
	text-align: center;
}

.wui-browse-arrangementTable .body-cell {
	vertical-align: top;
}

.wui-browse-arrangementTable .body-row {
	background-color: #e6e7e8;
}

.wui-browse-arrangementTable .body-row:hover {
	background-color: white;
}

.wui-browse-arrangementTable .header-widget {
	color: #e6e7e8;
	white-space: nowrap;
	margin: 1px 2px;
}

.wui-browse-arrangementTable .body-widget {
	
}

/** Disseminations Panel **/
.wui-browse-representations {
	width: 97%;
	height: auto;
}

.wui-browse-representations-title {
	margin: 5px;
}

.wui-browse-representations-disseminations {
	width: 100%;
	height: auto;
}

.wui-browse-representations .representation {
	width: 100%;
	padding: 10px;
}

.wui-browse-representations .representation-disseminations {
	width: 100%;
}

.wui-browse-representations .dissemination {
	float: left;
	width: 180px;
	margin: 5px;
	cursor: pointer;
	cursor: hand;
}

.wui-browse-representations .dissemination:hover {
	background-color: white;
}

.wui-browse-representations .dissemination-layout {
	width: 100%;
}

.wui-browse-representations .dissemination-description {
	font-size: 11px;
}

.wui-browse-representations .dissemination-icon {
	
}

.wui-browse-representations .dissemination-original-label {
	color: red;
}

/** Preservation Metadata Panel **/
.wui-metadata-preservation {
	width: 100%;
}

.wui-metadata-preservation .wui-metadata-preservation-header {
	width: 100%;
}

.wui-metadata-preservation-header-reps {
	
}

.wui-metadata-preservation .preservation-rep-layout {
	vertical-align: middle;
	margin: 1px;
}

.wui-metadata-preservation .preservation-rep-icon {
	
}

.wui-metadata-preservation .preservation-rep-label {
	font-size: 10px;
}

.wui-metadata-preservation-header-timeUnit {
	
}

.wui-metadata-preservation .wui-metadata-preservation-timeline {
	width: 100%;
	margin: 5px 2px;
}

.wui-metadata-preservation .wui-metadata-preservation-timeline * {
	font-size: 11px;
}

.wui-metadata-preservation .wui-metadata-preservation-timeline .timeline-copyright {
	display: none;
}

/************************************************/
/*********   INGEST                 *************/
/************************************************/
.wui-ingest-transfer .wui-breadcrumbPanel {
	position: relative;
}

/*----------------------------
    The file upload form
-----------------------------*/
#upload {
	width: 100%;
	margin: 20px auto;
}

.dragover #drop {
	border: 5px dashed #ddd;
}

#drop {
	padding: 40px 50px;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	color: #7f858a;
	border: 5px dashed #e6e7e9;
	border-radius: 10px;
}

#drop h4 {
	font-size: 2.4rem;
    line-height: 1.35;
    letter-spacing: -.08rem;
	color: #999;
	text-transform: none;
	margin-top: 0px;
	margin-bottom: 1rem;
    font-weight: 400;
}

#drop a {
	background-color: #089de3;
	padding: 10px 20px;
	color: #fff;
	font-size: 1.2rem;
	border-radius: 2px;
	cursor: pointer;
	display: block;
	margin: 10px auto 0;
	max-width: 100px;
	line-height: 1;
}

#drop a:hover {
	background-color: #3998d0;
}

#drop input {
	display: none;
}

#upload-list {
	list-style: none;
}

#upload-list li {
	height: 52px;
	position: relative;
}

#upload-list li input {
	display: none;
}

#upload-list li p {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 1.3rem;
	font-weight: 500;
	position: absolute;
	top: 10px;
	left: 60px;
}

#upload-list li i {
	font-weight: normal;
	font-style: normal;
	color: #7f7f7f;
	display: block;
	font-size: 1.1rem;
}

#upload-list li canvas {
	top: 15px;
	left: 20px;
	position: absolute;
}

#upload-list li span {
	width: 15px;
	height: 12px;
	background: url('images/icons.png') no-repeat;
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

#upload-list li.working span {
	height: 16px;
	background-position: 0 -12px;
}

#upload-list li.error p {
	color: #D20707;
}

/************************************************/
/*********   SEARCH                 *************/
/************************************************/
.search {
	
}

.search .searchLabel {
	margin-bottom: 5px;
}

.search .searchInput {
	display: flex;
}

.searchPanel {
	margin-right: 80px;
	height: 40px;
}

.searchPanelLeft {
	float: left;
	width: 100%;
}

.searchPanelRight {
	float: right;
	width: 80px;
	margin-right: -80px;
}

.search .searchBox {
	box-sizing: border-box;
	width: 100%;
	height: 4rem;
	line-height: 4rem;
	font-size: 2rem;
	border: none;
	padding: 0 1rem;
	background-color: #eee;
}

.search .searchBox::-webkit-input-placeholder,
.search .searchBox:placeholder-shown {
	color: rgba(0,0,0, 0.5);
}

.search .searchButton,
.search .searchAdvancedDisclosureButton {
	cursor: pointer;
	cursor: hand;
	position: relative;
	float: left;
	/* 	margin-right: -40px; */
    height: 40px;
    width: 40px;
    background-color: #089de3;
}

.search .searchAdvancedDisclosureButton {
	background-color: #eee;
	color: rgba(0,0,0, 0.5);
}

.search .searchButton:hover {
	background-color: #3998d0;
}

.search .searchButton-html {
	font-size: 15px;
}

.search .searchAdvancedDisclosureButton .fa-angle-up {
	display: none;
}

.search .searchAdvancedDisclosureButton.open .fa-angle-up {
	display: block;
}

.search .searchAdvancedDisclosureButton.open .fa-angle-down {
	display: none;
}

.search .searchButton .fa-stack-2x {
	color: #089de3;
	display: none;
}

.search .searchButton .fa-stack-1x {
	color: white;
}

.search .searchResults {
	margin-top: 20px;
	clear: both;
}

.search .searchApplyFilters {
	margin: 10px 0;
	width: 100%;
}

.search .searchAdvancedSearch {
	margin: 10px 0;
	width: 100%;
}

.searchAdvancedDisclosure {
	width: 100%;
	margin-top: 10px;
}

.searchAdvancedPanel {
	padding: 20px !important;
	min-height: auto;
	background-color: #eee;
	margin-bottom: 20px;
	border-top: 3px solid #089de3;
}

.search-field-label {
	display: inline;
}

.search-field-remove {
	font-size: 1.2rem;
	margin-left: 5px;
	float: right;
}

.searchAdvancedFieldsPanel+.searchAdvancedFieldAdd {
	margin-top: 10px;
}

.searchAdvancedFieldsPanel.empty+.searchAdvancedFieldAdd {
	margin-top: 0;
}

.searchAdvancedFieldAdd .form-listbox {
	margin-bottom: 0;
}

.searchAdvancedFieldInputDateLabel {
	display: inline-block;
}

.searchAdvancedFieldInputDateInput {
	width: 8em;
	text-align: center;
	margin: 0 5px;
}

/**********************************************
				COMMON
************************************************/
.gwt-DialogBox {
	background-color: white;
}

.gwt-DialogBox .Caption {
	padding: 5px 10px;
	background-color: #089de3;
	color: white;
	font-weight: 500;
}

.wui-dialog-confirm, .wui-dialog-information {
	
}

.wui-dialog-layout {
	padding: 10px;
}

.wui-dialog-message {
	margin-bottom: 10px;
}

.pull-right {
	float: right;
}

/**********************************************
				VIEW REPRESENTATION
************************************************/
.viewRepresentationTitle {
	margin-bottom: 10px !important;
}

.viewRepresentationPreviewPanel {
	width: 100%;
}

.viewRepresentationFilesPanel {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	height: 100%;
	border-right: 1px solid #eee;
}

.viewRepresentationFilesPanel.fullWidth {
	width: 100%;
	margin-right: 0px;
	border: none;
}

.viewRepresentationFilesPanel .fileListScroll {
	padding-top: 10px;
	padding-bottom: 10px;
	height: 650px;
	overflow-x: hidden;
	overflow-y: auto;
}

.viewRepresentationFilesPanel.fullWidth .fileListScroll {
	height: auto;
}

.viewRepresentation .my-asyncdatagrid-pager-results {
	display: none;
}

.viewRepresentation .my-files-empty-info {
	font-size: 13px;
	margin-left: 10px;
}

.viewRepresentation .my-files-table {
	word-break: break-all;
}

.viewRepresentation .my-files-table thead {
	display: none;
}

.viewRepresentation .my-files-table .org-roda-wui-common-client-widgets-MyCellTableResources-TableStyle-cellTableCell {
	padding-right: 2px;
	line-height: 1em;
	margin-bottom: 2px;
}

.viewRepresentation .my-files-table .org-roda-wui-common-client-widgets-MyCellTableResources-TableStyle-cellTableOddRow {
	background: white;
	border: none;
}

.viewRepresentation .my-files-table .org-roda-wui-common-client-widgets-MyCellTableResources-TableStyle-cellTableOddRowCell {
	border: 2px solid white;
}

.viewRepresentation .my-files-table .org-roda-wui-common-client-widgets-MyCellTableResources-TableStyle-cellTableHoveredRow {
	background: #eee;
}

.viewRepresentation .my-files-table .org-roda-wui-common-client-widgets-MyCellTableResources-TableStyle-cellTableHoveredRow .org-roda-wui-common-client-widgets-MyCellTableResources-TableStyle-cellTableOddRowCell {
	border: 2px solid #eee;
}

.viewRepresentationFilePreviewPanel {
	width: 100%;
	height: 705px;
}

.viewRepresentationFilePreviewPanel .filePreviewToolbar {
	height: 35px;
	background-color: #eee;
}

.viewRepresentationFilePreviewPanel .filePreviewToolbar .viewRepresentationBreadcrumb {
	padding-top: 5px;
	margin-left: 20px;
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
}

.viewRepresentationFilePreviewPanel.single .filePreviewToolbar .viewRepresentationBreadcrumb {
	margin-left: 35px;
}

.viewRepresentationFilePreviewPanel .filePreviewToolbar .filePreviewToolbarIcons {
	float: right;
	margin-right: 0px;
}

.viewRepresentationFilePreviewPanel .filePreviewToolbar .filePreviewToolbarIcon {
	float: right;
	font-size: 20px;
	line-height: 35px;
	width: 35px;
	height: 35px;
	cursor: pointer;
	cursor: hand;
	color: white;
	background-color: #999;
	text-align: center;
}

.viewRepresentationFilePreviewPanel .filePreviewToolbar .filePreviewToolbarIcon:hover,
.viewRepresentationFilePreviewPanel .filePreviewToolbar .filePreviewToolbarIcon.active {
	color: white;
	background-color: #089de3;
}

.viewRepresentationFilePreview {
	padding: 40px !important;
	height: 650px;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	text-align: center;
	padding-top: 0px !important;
	margin-top: 20px;
}

.viewRepresentationImageFilePreview {
	max-width: 100%;
	max-height: 600px;
	margin: 0 auto;
}

.viewRepresentationPDFFilePreview {
	width: 100%;
	height: 600px;
}

.viewRepresentationTextFilePreview {
	width: 100%;
	text-align: left;
}

.viewRepresentationTextFilePreview code {
	max-height: 600px;
}

.viewRepresentationAudioFilePreview {
	width: 100%;
	max-width: 300px;
}

.viewRepresentationVideoFilePreview {
	width: 100%;
	height: 600px;
}

.viewRepresentationEmptyPreview, .viewRepresentationErrorPreview,
.viewRepresentationNotSupportedPreview,
.viewRepresentationAudioFilePreviewHTML {
	margin-top: 120px;
	color: #999;
}

.viewRepresentationEmptyPreview .fa-5 {
	font-size: 9em;
	margin-bottom: 15px;
}

.viewRepresentationErrorPreview .fa-5,
	.viewRepresentationNotSupportedPreview .fa-5 {
	font-size: 10em;
}

.viewRepresentationNotSupportedDownloadButton {
	font-size: 1.2rem;
	padding: 8px 20px;	
}

.viewRepresentationAudioFilePreviewHTML .fa-5 {
	font-size: 12em;
}

.viewRepresentation .searchPanel {
	height: 35px;
	margin-right: 0px;
	background-color: #999;
	color: #eee;
}

.viewRepresentation .searchBox {
	box-sizing: border-box;
	width: 100%;
	height: 3rem;
	line-height: 3rem;
	font-size: 1.3rem;
	padding: 0 3rem;
	padding-left: 4.7rem;
	background-color: inherit;
	border: none;
	margin-top: 3px;
	color: white;
}

.viewRepresentation .searchBox::-webkit-input-placeholder,
.viewRepresentation .searchBox:placeholder-shown {
	color: #ddd;
}

.viewRepresentation .searchPanelLeft {
	float: left;
	width: 100%;
}

.viewRepresentation .searchButton {
	cursor: pointer;
	cursor: hand;
	position: relative;
	top: -2px;
	left: 2px;
	float: left;
	width: 40px;
	margin-right: -55px;
}

.viewRepresentation .searchButton-html {
	font-size: 14px;
}

.viewRepresentation .searchButton .fa-stack-2x {
	color: transparent;
}

.viewRepresentation .searchButton .fa-stack-1x {
	color: inherit;
}

.viewRepresentation .infoFilePanel {
	height: 630px;
	width: 300px;
	background: #089de3;
	display: none;
	color: white;
	position: absolute;
	right: 0;
	padding: 20px;
}

.viewRepresentation .infoFileTitle {
	font-size: 3rem;
	margin-top: 1.2rem;
	margin-bottom: 2.5rem;
}

.viewRepresentation .infoFileEntry {
	margin-bottom: 1em;
}

.viewRepresentation .infoFileEntryKey {
	font-size: 1.3rem;
	line-height: 1.1em;
	color: rgba(255, 255, 255, 0.8);
	margin-bottom: 0.2em;
}

.viewRepresentation .infoFileEntryValue {
	font-size: 1.3rem;
	word-break: break-all;
	line-height: 1.1em;
}

/**********************************************
				INGEST PROCESS NEW
************************************************/
.wui-transferredResourceList {
	font-size: 1.2rem;
}

.wui-transferredResourceList ul {
	margin-left: 10px;
	overflow: auto;
	max-height: 300px;
	width: 100%;
}

.wui-transferredResourceList ul li {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
	width: 30%;
	margin-right: 3%;
}

.wui-transferredResourceList ul li i {
	margin-right: 10px;
	display: inline;
}

.wui-plugin-options {
	background-color: #eee;
	padding: 10px 20px;
	border-radius: 2px;
	margin-bottom: 10px;
}

/****** INGEST PROCESS VIEW ***************/
.job-report-object-input i, .job-report-object-output i {
	font-size: 1.4rem;
	margin-right: 5px;
}

.row_error {
	background-color: #EFBBBB !important;
}

/**********************************************
				Show Job
************************************************/
.job-report-object-output {
	
}

.job-report-object-output .job-report-object-output-icon {
	line-height: 1.1rem;
	color: #222;
}

.job-report-object-output {
	font-size: 1.1rem;
    line-height: 1.1rem;
    color: #089de3;
}

/**********************************************
				Show Job Report
************************************************/

.report-item-title {
	background-color: #089de3;
	padding: 5px 10px;
	color: white;
	counter-increment: report-item-counter;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
}

.report-item-title:before {
	content: counter(report-item-counter) ".";
	margin-right: 10px;
	font-weight: 600;
}

.report-item-attributes {
	border: 1px solid #089de3;
	border-top: none;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	padding: 20px;
	margin-bottom: 20px;
}

/**********************************************
				PRESERVATION EVENTS
************************************************/
.preservationEvents .preservationMetadata .representation .header {
	margin-top: 20px;
}

.preservationEvents .preservationMetadata .content {
	display: none;
}

/**********************************************
				LOGIN
************************************************/
.loginPanel {
	margin: 40px auto;
	max-width: 400px;
	background-color: #eee;
	padding: 40px;
}

.loginPanel h1 {
	margin-top: 0px;
}

.login-button {
	margin-top: 20px;
	width: 100px;
}

.login-error {
	color: #F53E3E;
	display: inline;
	margin-left: 10px;
}