@CHARSET "UTF-8";

/* @override http://localhost:8888/pt.gov.dgarq.roda.office.main.Main/Search.css */
.wui-search-results {
	width: 785px;
	margin: 0 40px;
	background-color: #58595b;
}

.wui-search-results * {
	font-size: 11px;
}

.wui-search-results .scrollAutoLoader {
	width: 785px;
	height: 500px;
	border: 1px solid #58595b;
	background-color: #ffffff;
}

.wui-search-results .wui-search-results-layout {
	width: 100%;
}

.wui-search-results .wui-search-results-total {
	color: #e6e7e8;
	font-family: Verdana, Lucida, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 1px 5px;
}

.wui-search-result {
	width: 100%;
}

.wui-search-result .disclosure {
	width: 100%;
	margin-bottom: 1px;
}

.wui-search-result .disclosure .header {
	width: 100%;
	background-color: #e6e7e8;
	text-decoration: none;
}

.wui-search-result .disclosure .header:hover {
	background-color: #a4c3d0;
}

.wui-search-result  .disclosure-open {
    /*border: 2px solid #A4C3D0;*/
}

.wui-search-result .disclosure-closed {
	border: 0;
}

.wui-search-result .disclosure-open .header {
	background-color: #a4c3d0;
	border-bottom: 1px dotted white;
}

.wui-search-result .disclosure-open .content {
	width: 100%;
	background-color: #BCCACF
}

.wui-search-result .disclosure-open .content .content-layout {
	width: 100%;
}

.wui-search-result .disclosure-open .content .content-browseItem {
	width: 100px;
	margin: 4px 10px 4px 5px;
	margin-top: 5px;
	margin-right: 20px;
}

.wui-search-result .disclosure-open .content .content-elementPath {
	width: 100%;
	height: 22px;
	background-color: #BCCACF;
	border-top: 1px dotted white;
}

.wui-search-result .disclosure-open .content .content-elementPath .wui-elementPath
	{
	height: 22px;
	margin: 2px;
}

.wui-search-result .header-layout {
	width: 100%;
	padding: 2px 5px;
	color: #58595b;
	font-family: Verdana, Lucida, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	cursor: pointer;
	cursor: hand;
}

.wui-search-result .disclosure-open .header-layout {
	color: #2a2a2b;
}

.wui-search-result .header-icon {
	margin-right: 3px;
	width: 24px;
	cursor: pointer;
	cursor: hand;
}

.wui-search-result .header-id-container {
	width: 100px;
	overflow: hidden;
	margin-right: 5px;
	cursor: pointer;
	cursor: hand;
}

.wui-search-result .header-id {
	white-space: nowrap;
	cursor: pointer;
	cursor: hand;
}

.wui-search-result .header-title-container {
	width: 320px;
	overflow: hidden;
	cursor: pointer;
	cursor: hand;
}

.wui-search-result .header-title {
	white-space: nowrap;
	text-decoration: none;
	cursor: pointer;
	cursor: hand;
}

.wui-search-result .header-date {
	margin-left: 5px;
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;
	cursor: hand;
}

.wui-score {
	width: 80px;
	height: 15px;
	border: 1px solid #bcbdc0;
	margin-left: 10px;
	cursor: pointer;
	cursor: hand;
}

.wui-score .bar {
	float: right;
	background-color: #bcbdc0;
	height: 13px;
	margin: 1px;
	cursor: pointer;
	cursor: hand;
}

.wui-search-result .disclosure-open .header-layout .wui-score {
	border-color: #58595b;
}

.wui-search-result .disclosure-open .header-layout .wui-score .bar {
	background-color: #58595b;
}

.wui-search-result .descriptionGroup .descriptionGroupDisclosure {
	width: 100%;
}

.wui-search-result .descriptionGroup .descriptionGroupDisclosure .header
	{
	background-color: #D1C1A5;
	color: #2a2a2b;
	font-weight: normal;
	font-size: 11px;
	text-transform: uppercase;
}

.wui-search-result .descriptionGroup .descriptionGroupDisclosure .header:hover
	{
	background-color: #CCDBE1;
}

.wui-search-result .descriptionGroup .descriptionGroupDisclosure .content
	{
	color: #2a2a2b;
	/*background-color: #BCCACF;*/
	border-bottom: 1px dotted white;
}

.wui-search-result .descriptionGroup .descriptionGroupTable .label-container
	{
	/*background-color: #BCCACF;*/
	color: #58595b;
}

.wui-search-result .descriptionGroup .descriptionGroupTable .value-container
	{
	/*background-color: #BCCACF;*/
	color: #58595b;
}

.wui-search-result .descriptionGroup .descriptionGroupTable .label-container-last
	{
	border-bottom: 0;
}

.wui-search-result .descriptionGroup .descriptionGroupTable .value-container-last
	{
	border-bottom: 0;
}

.wui-search-result .descriptionGroup .descriptionGroup-row:hover .label-container
	{
	background-color: #E4E4E4;
}

.wui-search-result .descriptionGroup .descriptionGroup-row:hover .value-container
	{
	background-color: #E4E4E4;
}

.highlight {
	font-weight: bold;
}

.content-layout .descriptionGroup .descriptionGroupDisclosure .header td {
    color: #58595B;
}
