html {
  font-size: 62.5%;
}

body {
  font-size: 1.5em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Ubuntu", "HelveticaNeue", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  color: #222;
}


/* --------------------------------------------------

****************** Skeleton ************************

–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
  overflow: scroll;
}


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }



  /* --------------------------------------------------

  ****************** PREMIS ************************

  –––––––––––––––––––––––––––––––––––––––––––––––––– */


.representation .header {
  font-size: 3rem;
  display: block;
}

.representation .header:before {
  content: '\f1b3';
  font-family: 'FontAwesome';
}


.representation .header .identifiers {
  font-size: 1.5rem;
}
.header .identifiers:before {
  content: '(';
}
.header .identifiers:after {
  content: ')';
}

.header .identifierType {
  display: none;
}

.identifier + .identifier:before {
  content: ',';
}

.representation .header .identifiers {
  font-size: 1.5rem;
}

.representation .preservationLevel, .derivation {
  color: #888;
  display: block;
  margin-left: 3.2rem;
}

.section {
  display: block;
}

.sectionTitle {
  display: block;
  font-size: 2.2rem;
  margin-left: 3.2rem;
  margin-top: 1rem;
}

.sectionContent {
  display: block;
  margin-left: 3.2rem;
}

.file, .event {
  margin-bottom: 2rem;
  display: block;
}

.file .header {
  display: block;
  font-size: 1.6rem;
  display: block;
}

.file .header:before {
  content: '\f1b2';
  font-family: 'FontAwesome';
}

.file .header .identifiers {
  font-size: 1.3rem;
}

.file .subheader {
  display: block;
  color: #888;
  font-size: 1.2rem;
  margin-left: 2rem;
}

.file .subheader .size:after {
  content: ' B,';
}

.formatRegistry:before {
  content: '(';
}
.formatRegistry:after {
  content: ')';
}

.formatRegistryName:after {
  content: ':';
}

.content {
  display: block;
  margin-left: 2rem;
  border-left: 1px solid #ccc;
  padding-left: 10px;
}

.field {
  display: block;
  line-height: 1.6rem;
}

.field-label {
  font-weight: bold;
  font-size: 1.2rem;
}

.field-label:after {
  content: ':';
}

.field-value {
  font-size: 1.2rem;
}

.field-value table {
  display: inline;
  margin: 0px 15px;
}

.field-value table th,td {
  font-size: 1.2rem;
  padding: 5px 10px;
}

.field-value th:first-child,td:first-child {
  padding-left: 0;
}
.field-value th:last-child,td:last-child {
  padding-right: 0;
}

.event .header {
  display: block;
  font-size: 1.6rem;
  display: block;
}

.event .header:before {
  content: '\f017';
  font-family: 'FontAwesome';
}

.event .header .identifier {
  font-size: 1.3rem;
}

.event .header .identifier:before {
  content: '(';
}

.event .header .identifier:after {
  content: ')';
}

.event .subheader {
  display: block;
  color: #888;
  font-size: 1.2rem;
  margin-left: 2rem;
}

.event .linkingAgent .type, .event .linkingObject .type {
  display: none;
}

.event .linkingAgent .value:before, .event .linkingObject .value:before {
  content: '(';
}

.event .linkingAgent .value:after, .event .linkingObject .value:after {
  content: ')';
}


.agent .header {
  font-size: 1.6rem;
  display: block;
}

.agent .header:before {
  content: '\f007';
  font-family: 'FontAwesome';
}

.agent .subheader {
  display: block;
  color: #888;
  font-size: 1.2rem;
  margin-left: 2rem;
}
