version: '3.3'
services:
  zoo:
    image: docker.io/zookeeper:3.8
    restart: unless-stopped
    ports:
      - 2181:2181
    environment:
      - ZOO_4LW_COMMANDS_WHITELIST=mntr,conf,ruok
    volumes:
      - zookeeper_data:/data
      - zookeeper_datalog:/datalog
  solr:
    image: docker.io/solr:9
    restart: unless-stopped
    ports:
      - "8983:8983"
    environment:
      ZK_HOST: zoo:2181
      SOLR_HOST: localhost
    depends_on:
      - zoo
    command:
      - -c
    volumes:
      - solr_data:/var/solr
  clamd:
    image: docker.io/clamav/clamav:stable
    restart: unless-stopped
    ports:
      - 3310:3310
    volumes:
      - clam_data:/var/lib/clamav
      - $HOME/.roda_local/data/storage:$HOME/.roda_local/data/storage
  siegfried:
    image: ghcr.io/keeps/siegfried:v1.9.3
    restart: unless-stopped
    ports:
      - 5138:5138
    environment:
      SIEGFRIED_HOST: siegfried
      SIEGFRIED_PORT: 5138
    volumes:
      - siegfried_data:/root/siegfried/
      - $HOME/.roda_local/data/storage:$HOME/.roda_local/data/storage
volumes:
  zookeeper_data:
  zookeeper_datalog:
  solr_data:
  clam_data:
  siegfried_data:
