<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p %d (%c{1}) %m%n" />
		</layout>
	</appender>

	<appender name="RODA-CORE-LOG" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${roda.home}/log/roda-core.log" />
		<param name="MaxFileSize" value="26MB" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p %d (%c{1}) %m%n" />
		</layout>
	</appender>

	<logger name="pt.gov.dgarq.roda" additivity="false">
		<level value="INFO" />
		<appender-ref ref="RODA-CORE-LOG" />
	</logger>

	<logger name="pt.gov.dgarq.roda.servlet" additivity="false">
		<level value="INFO" />
		<appender-ref ref="RODA-CORE-LOG" />
	</logger>

	<logger name="pt.gov.dgarq.roda.core" additivity="false">
		<level value="INFO" />
		<appender-ref ref="RODA-CORE-LOG" />
	</logger>

	<logger name="pt.gov.dgarq.roda.core.adapter" additivity="false">
		<level value="INFO" />
		<appender-ref ref="RODA-CORE-LOG" />
	</logger>
	
	<logger name="pt.gov.dgarq.roda.core.services" additivity="false">
		<level value="INFO" />
		<appender-ref ref="RODA-CORE-LOG" />
	</logger>

	<logger name="pt.gov.dgarq.roda.core.services.FileUploadServlet" additivity="false">
		<level value="INFO" />
		<appender-ref ref="RODA-CORE-LOG" />
	</logger>

	<logger name="pt.gov.dgarq.roda.core.ingest" additivity="false">
		<level value="INFO" />
		<appender-ref ref="RODA-CORE-LOG" />
	</logger>

	<logger name="pt.gov.dgarq.roda.core.logger" additivity="false">
		<level value="INFO" />
		<appender-ref ref="RODA-CORE-LOG" />
	</logger>

	<logger name="pt.gov.dgarq.roda.core.plugins" additivity="false">
		<level value="INFO" />
		<appender-ref ref="RODA-CORE-LOG" />
	</logger>

	<logger name="pt.gov.dgarq.roda.core.reports" additivity="false">
		<level value="INFO" />
		<appender-ref ref="RODA-CORE-LOG" />
	</logger>

	<logger name="pt.gov.dgarq.roda.core.scheduler" additivity="false">
		<level value="INFO" />
		<appender-ref ref="RODA-CORE-LOG" />
	</logger>

	<logger name="pt.gov.dgarq.roda.core.statistics" additivity="false">
		<level value="INFO" />
		<appender-ref ref="RODA-CORE-LOG" />
	</logger>

	<logger name="pt.gov.dgarq.roda.core.fedora.risearch"
		additivity="false">
		<level value="INFO" />
		<appender-ref ref="RODA-CORE-LOG" />
	</logger>

	<logger name="pt.gov.dgarq.roda.plugins" additivity="false">
		<level value="INFO" />
		<appender-ref ref="RODA-CORE-LOG" />
	</logger>

	<logger name="org.apache" additivity="false">
		<level value="WARN" />
		<appender-ref ref="RODA-CORE-LOG" />
	</logger>

	<logger name="fedora.client" additivity="false">
		<level value="WARN" />
		<appender-ref ref="RODA-CORE-LOG" />
	</logger>

	<logger name="httpclient" additivity="false">
		<level value="WARN" />
		<appender-ref ref="RODA-CORE-LOG" />
	</logger>

	<logger name="org.quartz" additivity="false">
		<level value="WARN" />
		<appender-ref ref="RODA-CORE-LOG" />
	</logger>

	<root>
		<level value="WARN" />
		<appender-ref ref="RODA-CORE-LOG" />
	</root>

</log4j:configuration>
