<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/docs/api/org/apache/log4j/xml/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p %d (%c{1}) %m%n" />
		</layout>
	</appender>

	<logger name="pt.gov.dgarq.roda.common.convert.db" additivity="false">
		<level value="INFO" />
		<!-- <level value="DEBUG" /> -->
		<!-- <level value="TRACE" /> -->
		<appender-ref ref="STDOUT" />
	</logger>

	<root>
		<level value="WARN" />
		<!--<level value="DEBUG" />-->
		<!-- <level value="TRACE" /> -->
		<appender-ref ref="STDOUT" />
	</root>

</log4j:configuration>
