@CHARSET "UTF-8";


.wui-search-advanced .section-label {
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 15px;
	font-size: 14px;
	font-weight: bold;
	color: #58595b;
}

.wui-search-advanced .section-content {
	padding-bottom: 15px;
	margin-bottom: 10px;
	width: 100%;
	border-bottom: 1px solid white;
}

.wui-elementLevelChooser {
	margin-left: 10px;
	cursor: pointer;
	cursor: hand;
}

.wui-elementLevelChooser .level-layout {
	margin-left: 10px;
	border: 1px solid #999;
}

.wui-elementLevelChooser .level-option-layout {
	margin-top: 5px;
	margin-bottom: 10px;
}

.wui-elementLevelChooser .level-label {
	margin-right: 20px;
}

.wui-elementLevelChooser .level-all{
	margin-right: 25px;
}

.wui-elementLevelChooser .level-choose {
	margin-right: 25px;
}

.wui-dateIntervalPicker {
	margin-left: 10px;
}
.wui-dateIntervalPicker .dateInterval-option-layout {
	margin-bottom: 10px;
}

.wui-dateIntervalPicker .dateInterval-choose-layout {
	margin: 25px 5px 5px 15px;
}

.wui-dateIntervalPicker .label-from {
	margin: 0 10px;
}

.wui-dateIntervalPicker .label-to {
	margin: 0 10px;
}

.wui-keywordPicker {
	margin: 5px 10px;
	position: relative;
}

.wui-keywordPicker-layout {
	width: 100%;
}

.wui-keywordPicker-layout-central {
	width: 100%;
}

.wui-keywordPicker .keywords {
	font-size: 12pt;
	width: 98%;
	height: 20px;
	_height: 26px;
	font-size: 12pt;
	color: #58595b;
	margin-right: 5px;
}

.wui-keywordPicker .keywords-layout {
	width: 100%;
}

.wui-keywordPicker .modifiers {
	color: #000;
	margin-top: 2px;
}

.wui-keywordPicker .modifiers .modifier {
	margin-right: 10px;
}

.wui-keywordPicker .fieldsOption {
	color: #000;
	margin-right: 20px;
}

.wui-keywordPicker .add {
	position: absolute;
	top: 6px;
	right: 15px;
}

.wui-descriptiveFieldChooser {
	width: 800px;
	margin: 10px 0 0 10px;
	padding: 5px;
	border: 1px solid #999;
}
.wui-descriptiveFieldChooser .fieldOption {
	margin: 2px 5px;
	cursor: pointer;
	cursor: hand;
}
.wui-descriptiveFieldChooser .fieldOption-checkbox {
	margin-right: 2px;
}
.wui-descriptiveFieldChooser .fieldOption-label {
	font-size: 11px;
}

.addedKeywords {
	width: 820px;
	border-top: 1px dashed white;
	padding-top: 10px;
	margin-top: 15px;
}

.wui-keywordItem {
	width: 100%;
	margin: 5px 10px;
	color: black;
}

.wui-keywordItem-unchecked {
	color: #808285;
}


.wui-keywordItem .description {
	font-style: italic;
}

.wui-keywordItem .remove-effects {
	display: inline;
}

.wui-keywordItem .remove {
	margin-left: 5px;
	cursor: pointer;
	cursor: hand;
}

.searchButton {
	width: 100px;
	margin-bottom: 15px;
}