<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<include optional="true" url="${roda.logback.include}" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>


	<appender name="CORE_FILEOUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${roda.home}/log/roda-core.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${roda.home}/log/roda-core-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
			<!-- each file should be at most 1GB -->
			<maxFileSize>1GB</maxFileSize>
		</rollingPolicy>
	</appender>

	<appender name="CORE_FILEOUT_NO_THREAD" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${roda.home}/log/roda-core.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${roda.home}/log/roda-core-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
			<!-- each file should be at most 1GB -->
			<maxFileSize>1GB</maxFileSize>
		</rollingPolicy>
	</appender>

	<appender name="AKKA_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${roda.home}/log/roda-core-akka.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d [%X{akkaSourceActor} %X{akkaSourceThread}] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${roda.home}/log/roda-core-akka-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
			<!-- each file should be at most 1GB -->
			<maxFileSize>1GB</maxFileSize>
		</rollingPolicy>
	</appender>

	<appender name="AKKA" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="AKKA_FILE" />
	</appender>

	<appender name="METRICS" class="io.prometheus.client.logback.InstrumentedAppender" />

	<logger name="org.roda.core.plugins.orchestrate.akka" additivity="false">
		<level value="DEBUG" />
		<!-- <level value="TRACE" /> -->
		<appender-ref ref="CORE_FILEOUT" />
		<!-- <appender-ref ref="AKKA_FILE" /> -->
		<appender-ref ref="METRICS" />
	</logger>

	<logger name="org.roda.core.plugins.PluginManager" additivity="false">
		<level value="INFO" />
		<appender-ref ref="CORE_FILEOUT" />
		<appender-ref ref="METRICS" />
	</logger>

	<logger name="org.roda.core.plugins" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="CORE_FILEOUT" />
		<appender-ref ref="METRICS" />
	</logger>

	<logger name="org.roda.core" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="CORE_FILEOUT" />
		<appender-ref ref="METRICS" />
	</logger>

	<logger name="org.roda.wui.api.v2" additivity="false">
		<level value="INFO" />
		<appender-ref ref="CORE_FILEOUT" />
		<appender-ref ref="METRICS" />
	</logger>

	<logger name="org.roda" additivity="false">
		<level value="INFO" />
		<appender-ref ref="CORE_FILEOUT" />
		<appender-ref ref="METRICS" />
	</logger>

	<logger name="org.roda_project" additivity="false">
		<level value="WARN" />
		<appender-ref ref="CORE_FILEOUT" />
		<appender-ref ref="METRICS" />
	</logger>

	<logger name="akka" additivity="false">
		<level value="INFO" />
		<appender-ref ref="AKKA" />
	</logger>

	<!--logger name="org.roda.core.common.akka">
		<level value="TRACE" />
		<appender-ref ref="AKKA" />
	</logger-->

	<logger name="gov.loc.repository.bagit" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="CORE_FILEOUT" />
		<appender-ref ref="METRICS" />
	</logger>

	<logger name="org.apache.solr" additivity="false">
		<level value="WARN" />
		<appender-ref ref="CORE_FILEOUT_NO_THREAD" />
	</logger>

	<root level="warn">
		<appender-ref ref="CORE_FILEOUT" />
		<appender-ref ref="METRICS" />
	</root>
</configuration>