<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<include optional="true" url="${roda.logback.include}" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="CORE_FILEOUT" class="ch.qos.logback.core.FileAppender">
		<file>${roda.home}/log/roda-core.log</file>
		<encoder>
			<pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="CORE_FILEOUT_NO_THREAD" class="ch.qos.logback.core.FileAppender">
		<file>${roda.home}/log/roda-core.log</file>
		<encoder>
			<pattern>%d %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="AKKA_FILE" class="ch.qos.logback.core.FileAppender">
		<file>${roda.home}/log/roda-core-akka.log</file>
		<encoder>
			<pattern>%d [%X{akkaSource} %X{sourceThread}] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="AKKA" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="AKKA_FILE" />
	</appender>
	
	<logger name="org.roda.core.plugins.orchestrate.akka" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="CORE_FILEOUT" />
	</logger>

	<logger name="org.roda.core.plugins.PluginManager" additivity="false">
		<level value="INFO" />
		<appender-ref ref="CORE_FILEOUT" />
	</logger>

	<logger name="org.roda.core.plugins" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="CORE_FILEOUT" />
	</logger>

	<logger name="org.roda.core" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="CORE_FILEOUT" />
	</logger>

	<logger name="org.roda" additivity="false">
		<level value="INFO" />
		<appender-ref ref="CORE_FILEOUT" />
	</logger>
	
	<logger name="akka" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="AKKA" />
	</logger>

	<logger name="gov.loc.repository.bagit" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="CORE_FILEOUT" />
	</logger>

	<logger name="org.apache.solr" additivity="false">
		<level value="WARN" />
		<appender-ref ref="CORE_FILEOUT_NO_THREAD" />
	</logger>

	<root level="warn">
		<appender-ref ref="CORE_FILEOUT" />
	</root>
</configuration>