<included>
	<appender name="WUI_FILEOUT" class="ch.qos.logback.core.FileAppender">
		<file>${roda.home}/log/roda-wui.log</file>
		<encoder>
			<pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.roda.wui" additivity="false">
		<!-- Client-side logging must be set in org.roda.wui.common.client.GWTLogger 
			and is also influenced by this logger level -->
		<level value="DEBUG" />
		<appender-ref ref="WUI_FILEOUT" />
	</logger>

	<logger name="org.roda.disseminators" additivity="false">
		<level value="INFO" />
		<appender-ref ref="WUI_FILEOUT" />
	</logger>
</included>
