<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>RODA Web User Interface</display-name>
	<servlet>
		<servlet-name>ClientLogger</servlet-name>
		<servlet-class>pt.gov.dgarq.roda.wui.common.server.ClientLoggerImpl</servlet-class>
		<init-param>
			<param-name>log4j-init-file</param-name>
			<param-value>WEB-INF/classes/config/log4j.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>FileDownload</servlet-name>
		<servlet-class>pt.gov.dgarq.roda.wui.common.server.FileDownload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ImageCaptchaService</servlet-name>
		<servlet-class>
			pt.gov.dgarq.roda.wui.common.captcha.server.ImageCaptchaServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>CaptchaService</servlet-name>
		<servlet-class>
			pt.gov.dgarq.roda.wui.common.captcha.server.CaptchaServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GAnalyticsService</servlet-name>
		<servlet-class>
			pt.gov.dgarq.roda.wui.main.server.GAnalyticsServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserManagementService</servlet-name>
		<servlet-class>
			pt.gov.dgarq.roda.wui.management.user.server.UserManagementServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserLoginService</servlet-name>
		<servlet-class>
			pt.gov.dgarq.roda.wui.common.server.UserLoginServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BrowserService</servlet-name>
		<servlet-class>
			pt.gov.dgarq.roda.wui.dissemination.browse.server.BrowserServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchService</servlet-name>
		<servlet-class>
			pt.gov.dgarq.roda.wui.dissemination.search.server.SearchServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditorService</servlet-name>
		<servlet-class>
			pt.gov.dgarq.roda.wui.management.editor.server.EditorServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IngestListService</servlet-name>
		<servlet-class>
			pt.gov.dgarq.roda.wui.ingest.list.server.IngestListServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FileUpload</servlet-name>
		<servlet-class>
			pt.gov.dgarq.roda.wui.common.fileupload.server.FileUpload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IngestSubmitService</servlet-name>
		<servlet-class>
			pt.gov.dgarq.roda.wui.ingest.submit.server.IngestSubmitServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EventManagementService</servlet-name>
		<servlet-class>
			pt.gov.dgarq.roda.wui.management.event.server.EventManagementServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReportService</servlet-name>
		<servlet-class>pt.gov.dgarq.roda.wui.common.server.ReportServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<description>
		Download report in PDF</description>
		<display-name>ReportDownload</display-name>
		<servlet-name>ReportDownload</servlet-name>
		<servlet-class>pt.gov.dgarq.roda.wui.common.server.ReportDownload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StatisticsService</servlet-name>
		<servlet-class>
			pt.gov.dgarq.roda.wui.management.statistics.server.StatisticsServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<description>
		Download metadata in XML</description>
		<display-name>MetadataDownload</display-name>
		<servlet-name>MetadataDownload</servlet-name>
		<servlet-class>pt.gov.dgarq.roda.wui.common.server.MetadataDownload</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ClientLogger</servlet-name>
		<url-pattern>/wuilogger</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageCaptchaService</servlet-name>
		<url-pattern>/jcaptcha</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CaptchaService</servlet-name>
		<url-pattern>/captchaservice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GAnalyticsService</servlet-name>
		<url-pattern>/gaservice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileDownload</servlet-name>
		<url-pattern>/wuidownload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserManagementService</servlet-name>
		<url-pattern>/UserManagementService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserLoginService</servlet-name>
		<url-pattern>/userlogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BrowserService</servlet-name>
		<url-pattern>/browserservice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchService</servlet-name>
		<url-pattern>/searchservice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditorService</servlet-name>
		<url-pattern>/editorservice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IngestListService</servlet-name>
		<url-pattern>/ingestlist</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileUpload</servlet-name>
		<url-pattern>/fileUpload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IngestSubmitService</servlet-name>
		<url-pattern>/ingestsubmitservice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EventManagementService</servlet-name>
		<url-pattern>/eventmanagementservice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportService</servlet-name>
		<url-pattern>/reportservice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportDownload</servlet-name>
		<url-pattern>/ReportDownload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StatisticsService</servlet-name>
		<url-pattern>/StatisticsService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MetadataDownload</servlet-name>
		<url-pattern>/MetadataDownload</url-pattern>
	</servlet-mapping>

	<!-- RODA Default Disseminators -->
	<servlet>
		<description>Download the AIP</description>
		<display-name>AIPDownload</display-name>
		<servlet-name>AIPDownload</servlet-name>
		<servlet-class>
			pt.gov.dgarq.roda.disseminators.AIPDownload.AIPDownload</servlet-class>

	</servlet>
	<servlet>
		<description>
		SimpleViewer disseminator</description>
		<display-name>SimpleViewer</display-name>
		<servlet-name>SimpleViewer</servlet-name>
		<servlet-class>
			pt.gov.dgarq.roda.disseminators.simpleviewer.SimpleViewer</servlet-class>
	</servlet>
	<servlet>
		<description>
		cached disseminator resources</description>
		<display-name>Cache</display-name>
		<servlet-name>Cache</servlet-name>
		<servlet-class>pt.gov.dgarq.roda.disseminators.common.cache.Cache</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PhpMyAdmin</display-name>
		<servlet-name>PhpMyAdmin</servlet-name>
		<servlet-class>pt.gov.dgarq.roda.disseminators.PhpMyAdmin.PhpMyAdmin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FlashPageFlipFree</display-name>
		<servlet-name>FlashPageFlipFree</servlet-name>
		<servlet-class>
			pt.gov.dgarq.roda.disseminators.flashpageflipFree.FlashPageFlipFree</servlet-class>
	</servlet>
	<servlet>
		<description>
		JW FLV Media Player</description>
		<display-name>MediaPlayer</display-name>
		<servlet-name>MediaPlayer</servlet-name>
		<servlet-class>
			pt.gov.dgarq.roda.disseminators.mediaplayer.MediaPlayer</servlet-class>
	</servlet>
	<servlet>
		<description>
		Download digital signature</description>
		<display-name>Signature</display-name>
		<servlet-name>Signature</servlet-name>
		<servlet-class>pt.gov.dgarq.roda.disseminators.signature.Signature</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AIPDownload</servlet-name>
		<url-pattern>/AIPDownload/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SimpleViewer</servlet-name>
		<url-pattern>/SimpleViewer/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Cache</servlet-name>
		<url-pattern>/Cache/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PhpMyAdmin</servlet-name>
		<url-pattern>/PhpMyAdmin/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FlashPageFlipFree</servlet-name>
		<url-pattern>/FlashPageFlipFree/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MediaPlayer</servlet-name>
		<url-pattern>/MediaPlayer/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Signature</servlet-name>
		<url-pattern>/Signature/*</url-pattern>
	</servlet-mapping>

<!--
	<servlet>
		<servlet-name>phpMyAdminHandler</servlet-name>
		<servlet-class>
			pt.gov.dgarq.roda.disseminators.PhpMyAdmin.PhpMyAdminHandler</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>1</param-value>
		</init-param>
		<load-on-startup>6</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>phpMyAdminHandler</servlet-name>
		<url-pattern>*.php</url-pattern>
	</servlet-mapping>
-->

	<!-- RODA Non Free Disseminators -->
	<servlet>
		<description>
		FlashPageFlip Basic-XML</description>
		<display-name>FlashPageFlipPaid</display-name>
		<servlet-name>FlashPageFlipPaid</servlet-name>
		<servlet-class>
			pt.gov.dgarq.roda.disseminators.flashpageflipPaid.FlashPageFlipPaid</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Munin</display-name>
		<servlet-name>Munin</servlet-name>
		<servlet-class>
			pt.gov.dgarq.roda.wui.management.statistics.server.Munin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GwtCacheServer</display-name>
		<servlet-name>GwtCacheServer</servlet-name>
		<servlet-class>pt.gov.dgarq.roda.wui.common.server.GwtCacheServer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FileUploadProgress</servlet-name>
		<servlet-class>
			pt.gov.dgarq.roda.wui.common.fileupload.server.FileUploadProgressImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FlashPageFlipPaid</servlet-name>
		<url-pattern>/FlashPageFlipPaid/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Munin</servlet-name>
		<url-pattern>/Munin/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GwtCacheServer</servlet-name>
		<url-pattern>*.png</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GwtCacheServer</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GwtCacheServer</servlet-name>
		<url-pattern>/clear.cache.gif</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileUploadProgress</servlet-name>
		<url-pattern>/fileuploadprogress</url-pattern>
	</servlet-mapping>

	<!-- Welcome file -->

	<welcome-file-list>
		<welcome-file>Main.html</welcome-file>
		<welcome-file>index.php</welcome-file>
	</welcome-file-list>


	<!--  Error page -->

	<error-page>
		<error-code>401</error-code>
		<location>/error_unauthorized.html</location>
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/error_page_not_found.html</location>
	</error-page>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Protected Context</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
<!--
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
-->
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Private Context</web-resource-name>
			<url-pattern>/phpMyAdmin/scripts/*</url-pattern>
			<url-pattern>/phpMyAdmin/libraries/*</url-pattern>
		</web-resource-collection>
		<auth-constraint />
	</security-constraint>
</web-app>
