<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{ISO8601}] %-5p %c %m %n" />
		</layout>
	</appender>

	<appender name="STDERR" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.err" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{ISO8601}] %-5p %c %m %n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="WARN" />
			<param name="LevelMax" value="FATAL" />
		</filter>
	</appender>

	<appender name="FILEOUT" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${user.home}/.RODA-in/roda-in.log" />
		<param name="MaxFileSize" value="26MB" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{ISO8601}] %-5p %c %m %n" />
		</layout>
	</appender>

	<appender name="EMAIL" class="pt.gov.dgarq.roda.sipcreator.RodaSMTPAppender">
		<param name="BufferSize" value="512" />
		<param name="SMTPHost" value="mail.iantt.pt" />
		<param name="From" value="roda.admin@dgarq.gov.pt" />
		<param name="To" value="roda.in@dgarq.gov.pt" />
		<param name="Subject" value="[RODA-in] Error message" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{ISO8601}]%n%n%-5p%n%n%c%n%n%m%n%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ERROR" />
			<param name="LevelMax" value="FATAL" />
		</filter>
	</appender>

	<!-- DEBUG logger, to be removed on deploy -->
	<logger name="pt.gov.dgarq.roda.sipcreator" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="FILEOUT" />
		<appender-ref ref="EMAIL" />
	</logger>
	
	<!-- DEBUG logger, to be removed on deploy -->
	<logger name="pt.gov.dgarq.roda.ingest.siputility" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="FILEOUT" />
		<appender-ref ref="EMAIL" />
	</logger>
	

	<root>
		<level value="ERROR" />
		<appender-ref ref="FILEOUT" />
		<appender-ref ref="EMAIL" />
	</root>

</log4j:configuration>
