@CHARSET "UTF-8";

.wui-statistics {
	width: 98%;
}

.wui-statistics .gwt-TabBar {
	background-color: #e6e7e8;
}

.wui-statistics .statistics-charts {
	width: 100%;
	margin-left: 10px;
	margin-right: 10px;
}

/* Chart of Numbers */
.chart-number {
	
}

.chart-number .number-total-layout {
	
}

.chart-number .number-total-title {
	font-size: 14px;
	font-family: Verdana, Lucida, Helvetica, Arial, sans-serif;
	text-align: center;
	color: #58595b;
	margin-bottom: 5px;
}

.chart-number .number-total-value {
	opacity: 0.7;
	padding-bottom: 20px;
}

.chart-number .number-total-value:HOVER {
	opacity: 1;
}

.chart-number .number-chart-bar {
	
}

/* Chart of percentages */
.chart-percentage {
	
}

.chart-percentage .percentage-chart-pie {
	
}

.chart-percentage .percentage-chart-stack {
	
}

/* Legends */

.wui-statistic-legends .legend {
	float: left;
}

.wui-statistic-legends .legend-bullet {
	
	font-size: 10px;
}

.wui-statistic-legends .legend-text {
	color: #58595b;
	font-size: 10px;
}

.wui-statistic-legends-horizontal {
	margin-left: 15px;
}

.wui-statistic-legends-horizontal .legend-bullet {
	margin-left: 5px;
}

.wui-statistic-legends-horizontal .legend-text {
	margin-right: 15px;
}

/* Statistic Mini Panel */
.wui-statistics-mini {
	vertical-align: top;
}

/* Simple Statistic Mini Panel */
.wui-statistic-mini-simple {
	width: 100%;
	margin: 2px;
	border-bottom: 1px solid white;
	vertical-align: top;
}

.wui-statistic-mini-simple .mini-simple-header {
	width: 100%;
}

.wui-statistic-mini-simple .mini-simple-title {
	font-size: 14px;
	margin: 2px;
	white-space: nowrap;
}

.wui-statistic-mini-simple .mini-simple-report {
	text-align: right;
	margin: 5px;
	cursor: pointer;
	cursor: hand;
}

.wui-statistic-mini-simple .mini-simple-center {
	width: 100%;
}

.wui-statistic-mini-simple .mini-simple-description {
	width: 450px;
	font-size: 11px;
	margin: 5px 5px 5px 15px;
}

.wui-statistic-mini-simple .mini-simple-value {
	margin: 5px auto;
	font-size: 24px;
	width: 250px;
	text-align: right;
}

/* Stacked Statistic Mini Panel */
.wui-statistic-mini-stacked {
	width: 100%;
	padding: 2px;
	margin: 2px;
	border-bottom: 1px solid white;
	vertical-align: top;
}

.wui-statistic-mini-stacked .mini-stacked-header {
	width: 100%;
}

.wui-statistic-mini-stacked .mini-stacked-title {
	font-size: 14px;
	margin: 2px;
	white-space: nowrap;
}

.wui-statistic-mini-stacked .mini-stacked-description {
	width: 450px;
	font-size: 11px;
	margin: 5px 5px 5px 15px;
}

.wui-statistic-mini-stacked .mini-stacked-report {
	margin: 5px;
	cursor: pointer;
	cursor: hand;
}

.wui-statistic-mini-stacked .wui-statistic-legends {
	margin-left: 20px;
}

.wui-statistic-mini-stacked .mini-stacked-value {
	margin: 2px auto;
}

/* Statistic Report Panel */
.wui-statistic-report-chart {
	
}

.wui-statistic-report-chart .report-chart-header {
	width: 100%;
}

.wui-statistic-report-chart .report-chart-segmentation-label {
	white-space: nowrap;
}

.wui-statistic-report-chart .report-chart-segmentation-picker {
	white-space: nowrap;
}

.wui-statistic-report-chart .report-chart-date-label {
	width: 100%;
	text-align: right;
}
.wui-statistic-report-chart .report-chart-date-change {
	margin: 2px;
}

.wui-statistic-report-chart .report-chart-date-picker {
	
}

.wui-statistic-report-chart .report-chart-widget {
	
}

/** Statitic Report date change **/
.report-date-change {
	width: 100%;
	background-color: #e6e7e8;
}
.report-date-change .report-date-change-label-initial {
}
.report-date-change .report-date-change-label-final {
}
.report-date-change .report-date-change-picker-initial {
}
.report-date-change .report-date-change-picker-final {
}

/** Statistic report list **/
.statistic-list-item {
	
}

.statistic-list-item .item-layout {
	width: 100%;
}

.statistic-list-item .item-date {
	width: 180px;
	margin: 1px;
	padding: 1px;
	background-color: #e6e7e8;
}

.statistic-list-item .item-type {
	width: 250px;
	margin: 1px;
	padding: 1px;
	background-color: #e6e7e8;
}

.statistic-list-item .item-value {
	width: 100%;
	margin: 1px;
	padding: 1px;
	background-color: #e6e7e8;
}

.statistic-list-header-date {
	width: 185px;
}

.statistic-list-header-type {
	width: 250px;
}

.statistic-list-header-value {
	width: 100%;
}

.wui-statistics-repository {
}
.wui-statistics-ingest {
}
.wui-statistics-user {
}
.wui-statistics-access {
}
.wui-statistics-actions {
}

/* Producer statistics */
.wui-statistics-producers {
}
.wui-statistics-producers .producers-title {
}
.wui-statistics-producers .producers-list {
	width: 200px;
}
.wui-statistics-producers .producers-center {
}

.wui-statistics-producers .submission-last {
	margin: 5px;
}

.wui-statistics-producers .submission-last-title {
	margin-right: 5px;
	font-size: 14px;
}

.wui-statistics-producers .submission-last-value {
	
}

.wui-statistics-producers .wui-statistic-mini-stacked {
	border: 0;
}

.wui-statistics-producers .wui-statistic-mini-stacked .mini-stacked-description {
	width: 250px;
}

/** Statistics System  **/

.statistics-system {
	width: 100%;
}

.statistics-system statistics-system-link {
	margin: 2px;
}

.statistics-system statistics-system-frame {
	width: 100%;
	height: 400px;
}


