<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p %d (%c{1}) %m%n" />
		</layout>
	</appender>

	<appender name="RODA-HANDLE-LOG" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="/usr/local/roda/logs/roda-handle.log" />
		<param name="MaxFileSize" value="26MB" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p %d (%c{1}) %m%n" />
		</layout>
	</appender>

	<logger name="pt.gov.dgarq.roda.handle" additivity="false">
		<level value="INFO" />
		<appender-ref ref="RODA-HANDLE-LOG" />
	</logger>

	<root>
		<level value="WARN" />
		<appender-ref ref="RODA-HANDLE-LOG" />
	</root>

</log4j:configuration>
