<html>
<body>
<p>In the sequence of the registration process of the username <em>$username</em>, an e-mail address verification is needed.</p>
<p>To continue the verification process, access the following address <a href="$verificationCompleteURL">$verificationCompleteURL</a>, or, alternatively, insert the password for verification in the following address <a href="$verificationURL">$verificationURL</a>:
<ul>
<li><strong>Username:</strong> $username</li>
<li><strong>Password for verification:</strong> $token</li>
</ul>
</p>
<p>If you didn't made the registration before mentioned, please ignore this e-mail.</p>

<p>RODA - Repository of Authentic Digital Objects</p>

</body>
<html>
