<html>
<body>
<p>In the sequence of the registration process for the username <em>{{username}}</em>, an email address verification is required.</p>

<p>To continue the verification process, please access the following link: <a href="{{verificationCompleteURL}}">{{verificationCompleteURL}}</a>. Alternatively, you can insert the password for verification at the following link: <a href="{{verificationEmailURL}}">{{verificationEmailURL}}</a>:</p>

<ul>
  <li><strong>Username:</strong> {{username}}</li>
  <li><strong>Password for verification:</strong> {{tokenVerifyEmail}}</li>
</ul>

<p>To set your account's password, please insert the necessary data at the following link: <a href="{{setPasswordURL}}">{{setPasswordURL}}</a>.</p>

<ul>
  <li><strong>Username:</strong> {{username}}</li>
  <li><strong>New Password:</strong> {{tokenSetPassword}}</li>
</ul>

<p>If you did not initiate this registration, please disregard this email.</p>

<p>RODA - Repository of Authentic Digital Objects</p>

</body>
</html>