<html>
<body>
<p>Dear Mr./Mrs. $producerFullName,</p>
<p>The package with the name $sipOriginalFilename, on $sipDateTime, was rejected manually for the following reason:</p>
<p style="margin-left: 5px; margin-right: 5px; font-style: italic">$message</p>

<p>Please revise the errors mentioned and act accordingly.</p>

<p>RODA - Repository of Authentic Digital Objects</p>

</body>
<html>
