<html>
<body>
<p>Caro(a) Sr(a). $producerFullName,</p>
<p>O pacote de ingest&#227;o depositado com o nome $sipOriginalFilename, na data $sipDateTime, foi rejeitado 
manualmente pela seguinte raz&#227;o:</p>
<p style="margin-left: 5px; margin-right: 5px; font-style: italic">$message</p>

<p>Por favor reveja os erros indicados e tome as ac&#231;&#245;es apropriadas.</p>

<div id="footer" style="border-top: 1px solid #58595b; width: 90%; padding: 5px 10px; color: #58595b">
RODA - Reposit&#243;rio de Objectos Digitais e Aut&#234;nticos<br/>
<a href="https://roda.dgarq.gov.pt">https://roda.dgarq.gov.pt</a><br/>
Direc&ccedil;&atilde;o Geral de Arquivos<br/>
Governo de Portugal
</div>

</body>
<html>
