Una recuperación de acceso asociada a este correo electrónico fue solicitada.

Para continuar con el proceso de recuperación, acceda a la siguiente dirección: $recoverLoginCompleteURL
Como alternativa, introduzca los datos necesarios en la siguiente dirección: $recoverLoginURL

Nombre de usuario: $username
Contraseña para la verificación: $token

Y modificar su contraseña.

Si usted no pidió la recuperación de inicio de sesión antes mencionado, por favor, ignora este correo electrónico.

=====================================================
RODA - Repository of Authentic Digital Objects
