<html>
<body>
<p>A RODA user associated to this e-mail was created.</p>

<p>To set its password, insert the necessary data in the following address <a href="{{recoverLoginURL}}">{{recoverLoginURL}}</a>.</p>
<ul>
<li><strong>Username:</strong> {{username}}</li>
<li><strong>Password for verification:</strong> {{token}}</li>
</ul>
<p>If you didn't ask the login recovery before mentioned, please ignore this e-mail.</p>

<p>RODA - Repository of Authentic Digital Objects</p>

</body>
<html>